include ../mixins/home.jade
div.row
	div.col-sm-12.text-center
		div.row
			div.col-sm-12
			h1 #{messageSource.getMessage("index.headline", [], locale)}
		div.row
			div.col-sm-12
				form.col-sm-offset-3#simple-search-form(action="#{context.url('/store/items/all')}")
					div.form-group.col-sm-8
						input.form-control.input-lg#simple-search-input(type="text", placeholder="#{messageSource.getMessage('index.search', [], locale)}...", name="query")
					div.form-group.col-sm-2
						button.btn.btn-default.btn-lg#quick-search(type="submit")
							i.fa.fa-search
							| &nbsp; #{messageSource.getMessage("index.search", [], locale)} &nbsp;
			a#link-busqueda-compleja(href="#busqueda-compleja") #{messageSource.getMessage("index.categories", [], locale)}
				br
				span.fa-stack.fa-lg
					i.fa.fa-circle-thin.fa-stack-2x
					i.fa.fa-angle-double-down.fa-stack-1x
div.row#promociones
	h4(style="position:absolute;top:-35px;left:16px") #{messageSource.getMessage("index.promoted", [], locale)}
	div.carousel.slide(data-ride="carousel")#promotion-carousel
		
		div.carousel-inner#carousel-content
			div.item.active
				each item in mostSoldItems
					div.col-sm-2
						a(href="#{context.url('/store/items/'+item.id)}")
							if item.images.isEmpty()
								img(src="http://placehold.it/200?text=Sin+Imagen", style="width:100%;height:auto")
							else
								img(src="#{context.url('/images/get/'+item.images.get(0).id)}", style="width:100%;height:auto")
						br
						a(href="#{context.url('/store/items/'+item.id)}")
							b #{item.name}
						br
						span $#{item.price}
		a.left.carousel-control(href="#promotion-carousel", data-slide="prev", style='left:-30px')
			span.glyphicon.glyphicon-chevron-left
			span.sr-only Anterior
		a.right.carousel-control(href="#promotion-carousel", data-slide="next", style='right:-30px')
			span.glyphicon.glyphicon-chevron-right
			span.sr-only Anterior
