include ../mixins/home.jade
div.row
	div.col-sm-12.text-center
		div.row
			div.col-sm-12
			h1 Qu&eacute; desea Comprar?
		div.row
			div.col-sm-12
				form.col-sm-offset-3#simple-search-form(action="#{context.url('/items')}")
					div.form-group.col-sm-8
						input.form-control.input-lg#simple-search-input(type="text", placeholder="Busqueda", name="query")
					div.form-group.col-sm-2
						button.btn.btn-default.btn-lg#quick-search(type="submit")
							i.fa.fa-search
							| &nbsp; Buscar &nbsp;
			a#link-busqueda-compleja(href="#busqueda-compleja") Categorias
				br
				span.fa-stack.fa-lg
					i.fa.fa-circle-thin.fa-stack-2x
					i.fa.fa-angle-double-down.fa-stack-1x
div.row#promociones
	//-div#loading-promociones
		i.fa.fa-pulse.fa-5x.fa-spinner.fa-fw
		br
		span Cargando Promociones...
	h4(style="position:absolute;top:-35px;left:16px") Promociones
	div.carousel.slide(data-ride="carousel")#promotion-carousel
		
		div.carousel-inner#carousel-content
			div.item.active
				each item in mostSoldItems
					div.col-sm-2
						a(href="#{context.url('/item/'+item.id)}")
							img(src="http://lorempixel.com/100/100/fashion", style="width:100%;height:auto")
						br
						a(href="#{context.url('/item/'+item.id)}")
							b #{item.name}
						br
						span $#{item.price}
		a.left.carousel-control(href="#promotion-carousel", data-slide="prev", style='left:-30px')
			span.glyphicon.glyphicon-chevron-left
			span.sr-only Anterior
		a.right.carousel-control(href="#promotion-carousel", data-slide="next", style='right:-30px')
			span.glyphicon.glyphicon-chevron-right
			span.sr-only Anterior
