div.row
	div.col-sm-12
		h2.category-heading Categorias
		mixin children(categories, depth)
			if depth <= 1
				if depth == 0
					div.row
						each category in categories
							div.col-sm-3
								div.panel.panel-default
									div.panel-heading
										h3.panel-title
											a(href="#{context.url('/items?categories='+category.id)}") #{category.name}
								//-if !category.children.isEmpty()
									div.panel-body
										+children(category.children, depth+1)
				//-else
					ul
						- MAX_DISPLAYED = 9
						each category, i in categories
							li(style="font-size:#{14-depth*2}px; #{i >= MAX_DISPLAYED?'display:none':''}")
								a(href="#{context.url('/items?categories='+category.id)}") #{category.name}
							+children(category.children, depth+1)
							if i == MAX_DISPLAYED
								a(href="#") Ver Más

		+children(categories, 0)
