div#filters
	- min = filter.priceFilter.priceRange.lowerBound()
	- max = filter.priceFilter.priceRange.upperBound()
	if min.isPresent() || max.isPresent()
		div.filter-content
			div.filter-header
				h6.filter-title Filtros Aplicados
			div.filter-body
				if min.isPresent() && max.isPresent()
					div.applied-filter
						button.close &times;
						span $#{min.get()} - $#{max.get()}
				else if min.isPresent()
					div.applied-filter
						button.close &times;
						span A partir de $#{min.get()}
				else
					div.applied-filter
						button.close &times;
						span Hasta $#{max.get()}
	div.filter-content
		div.filter-header
			h6.filter-title Precio
		div.filter-body
			div.col-sm-4
				input.input-sm.form-control#filter-price-min(type="number", placeholder="Min", min=0, step=1, value="#{min.isPresent() ? min.get() : ''}")
			div.col-sm-1.text-center
				span.separator -
			div.col-sm-4
				input.input-sm.form-control#filter-price-max(type="number", placeholder="Max", min=0, step=1, value="#{max.isPresent() ? max.get() : ''}")
			div.col-sm-2.col-sm-offset-1
				a.btn.btn-primary.btn-sm.btn-block#filter-price-set(href="#")
					i.fa.fa-chevron-right
		div.filter-footer