div#filters
	- min = filter.priceFilter.priceRange.lowerBound()
	- max = filter.priceFilter.priceRange.upperBound()
	if min.isPresent() || max.isPresent() || selectedCategories.size() > 0
		div.filter-content
			div.filter-header
				h6.filter-title Filtros Aplicados
			div.filter-body
				if min.isPresent() && max.isPresent()
					div.applied-filter(data-target="minPrice,maxPrice")
						button.close &times;
						span #{messageSource.getMessage('search.filters.price.between', [min.get(), max.get()], locale)}
				else if min.isPresent()
					div.applied-filter(data-target="minPrice")
						button.close &times;
						span #{messageSource.getMessage('search.filters.price.from', [min.get()], locale)}
				else if max.isPresent()
					div.applied-filter(data-target="maxPrice")
						button.close &times;
						span #{messageSource.getMessage('search.filters.price.from', [max.get()], locale)}
				each category in selectedCategories
					div.applied-filter(data-target-complex="categories", data-category-id="#{category.id}")
						button.close &times;
						span #{category.name}
	div.filter-content
		div.filter-header
			h6.filter-title #{messageSource.getMessage('search.filters.price', [], locale)}
		div.filter-body
			div.row
				div.col-sm-4
					input.input-sm.form-control#filter-price-min(type="number", placeholder="#{messageSource.getMessage('search.filters.price.min', [], locale)}", min=0, step=1, value="#{min.isPresent() ? min.get() : ''}")
				div.col-sm-1.text-center
					span.separator -
				div.col-sm-4
					input.input-sm.form-control#filter-price-max(type="number", placeholder="#{messageSource.getMessage('search.filters.price.max', [], locale)}", min=0, step=1, value="#{max.isPresent() ? max.get() : ''}")
				div.col-sm-2.col-sm-offset-1
					a.btn.btn-primary.btn-sm.btn-block#filter-price-set(href="#")
						i.fa.fa-chevron-right
	if similarCategories.size() > 0
		div.filter-content#category-filter
			div.filter-header
				h6.filter-title #{messageSource.getMessage('search.filters.categories', [], locale)}
			div.filter-body
				if selectedCategories.size() > 1
					- i = 0
					- currentParent = -1
					each category in similarCategories
						if currentParent != category.parent
							label.parent-label(data-id="#{selectedCategories.get(i).id}") #{selectedCategories.get(i).name}
							- i = i+1
							- currentParent = category.parent
						div.checkbox.padding
							label
								input(type="checkbox", value="#{category.id}")
								| #{category.name}
				else
					each category in similarCategories
						div.checkbox
							label
								input(type="checkbox", value="#{category.id}")
								| #{category.name}
				button.btn.btn-primary.btn-xs.col-sm-6.col-sm-offset-6#category-filter-button(type="button") #{messageSource.getMessage('search.filters.categories.apply', [], locale)}