table.table.table-striped
	thead
		tr
			th Foto
			th Nombre
			th Precio
			th Vendidos
			th Publicado
			th Ultima Modificación
			th
	tbody
		each item in items
			tr
				td
					if !item.images.isEmpty()
						img.table-img(style="width:40px;height:40px" src="#{context.url('/images/get/'+item.images.get(0).id)}")
				td #{item.name}
				td $#{item.price}
				td #{item.sold} Vendidos
				td #{item.created}
				td #{item.lastUpdated}
				td
					a(href="#{context.url('/store/item/'+item.id+'/details')}") Editar