div.container
	h1
		i.fa.fa-lock
		| &nbsp; Pago
	form.form-horizontal#form-pago(data-kind="pago")
		table.table.table-bordered.table-condensed.pago#pago-table
			tbody
				tr
					td
						h3.text-center Datos de la Tarjeta
						div.form-group.control-group.required-field
							label.col-sm-4.control-label(for='cc-type-id')
								strong Tipo de Tarjeta
							div.col-sm-5
								div.btn-group.btn-group-justified(data-toggle="buttons")
									label.btn.btn-default.active
										i.fa.fa-cc-visa.fa-3x
										//- img.creditcard-img(src="img/visa.png", alt="VISA")
										input#cc-type-id(type="radio", name='cc-type', checked="checked", data-value="1")
									label.btn.btn-default
										i.fa.fa-cc-amex.fa-3x
										//- img.creditcard-img(src="img/mastercard.png", alt="MASTERCARD")
										input(type="radio", name='cc-type', data-value="2")
									label.btn.btn-default
										i.fa.fa-cc-mastercard.fa-3x
										//- img.creditcard-img(src="img/amex.png", alt="AMEX")
										input(type="radio", name='cc-type', data-value="3")
									label.btn.btn-default
										i.fa.fa-cc-diners-club.fa-3x
										//- img.creditcard-img(src="img/amex.png", alt="AMEX")
										input(type="radio", name='cc-type', data-value="4")
							p.help-block.col-sm-offset-4
						div.form-group.control-group.required-field
							label.col-sm-4.control-label(for='cc-number') N&uacute;mero de Tarjeta
							div.col-sm-5
								input.form-control#cc-number(type="text", data-input="number", required, name='number', data-validation-required-message='Este campo es obligatorio', minlength=13, maxlength=16, data-validation-minlength-message='Debe tener por lo menos 13 dïgitos', data-validation-maxlength-message='Debe tener a lo sumo 13 dïgitos')
							p.help-block.col-sm-offset-4.col-sm-12
						div.form-group.control-group.required-field
							label.col-sm-4.control-label(for='sec-code') C&oacute;digo de Seguridad
							div.col-sm-3
								input.form-control#sec-code(type="text", data-input='number', required, name='security_code', minlength=3, maxlength=4, data-validation-minlength-message='Debe tener 3 o 4 caracteres', data-validation-maxlength-message='Debe tener 3 o 4 caracteres', data-validation-required-message="Este campo es obligatorio")
							p.help-block.col-sm-offset-4.col-sm-12
						div.form-group.control-group.required-field
							label.col-sm-4.control-label(for='vto-mes') Fecha de Vencimiento
							input#vto-hidden(type='number', style='display:none', min="#{moment().format('YYMM')}", required, data-validation-required-message="Este campo es obligatorio", value='9999', data-validation-min-message="La tarjeta esta vencida o le falta ingresar algun valor")
							div.col-sm-2
								select.form-control#vto-mes(name='exp_mes')
									option(value='#') Mes
									- for (var i = 1; i <= 12; i++) {
										if i <= 9
											option(value="0#{i}") 0#{i}
										else
											option(value="#{i}") #{i}
									- }
							div.col-sm-2
								select.form-control#vto-anio(name='exp_year')
									option(value='#') A&ntilde;o
									- for (var i = 2016; i <= 2030; i++) {
										option(value="#{i}") #{i}
									- }
							p.help-block.col-sm-offset-4.col-sm-12
						div.form-group.control-group#cuotas-form-group
							label.col-sm-4.control-label Cuotas
							div.col-sm-5.text-left#cuotas
								div.radio Ingrese los datos de su tarjeta para ver las facilidades de pago
						h3.text-center Datos del Titular de la Tarjeta
						div.form-group.control-group.required-field
							label.col-sm-4.control-label(for='nombre-id') Nombre/s
							div.col-sm-5
								input.form-control.input-md#nombre-id(type="text", placeholder="Ej: Federico", required, name="first_name", data-validation-required-message= "Este campo es obligatorio", maxlength=80, data-validation-maxlength-message="Puede tener hasta 80 caracteres", minlength=1, data-validation-minlength-message="El campo no puede estar vacio")
							p.help-block.col-sm-offset-4.col-sm-12
						div.form-group.control-group.required-field
							label.col-sm-4.control-label(for='apellido-id') Apellido
							div.col-sm-5
								input.form-control.input-md#apellido-id(type="text", placeholder="Ej: Sosa", required, data-validation-required-message='Este campo es obligatorio', name="last_name", maxlength=80, data-validation-maxlength-message="Puede tener hasta 80 caracteres", minlength=1, data-validation-minlength-message="El campo no puede estar vacio")
							p.help-block.col-sm-offset-4.col-sm-12
						div.form-group.control-group.required-field
							label.col-sm-4.control-label(for='dni-id') Tipo de Documento
							div.col-sm-2
								select.form-control(name='id_type')
									option(value="1") DNI
									option(value="2") Pasaporte
							div.col-sm-3
								input.form-control.dni#dni-id(type="text", name='dni', data-input="number", maxlength="8", placeholder="Ej: 34567145", required, data-validation-required-message="Este campo es obligatorio", data-validation-maxlength-message="Debe tener 7 u 8 números", minlength="7", data-validation-minlength-message="Debe tener 7 u 8 números")
							p.help-block.col-sm-offset-4.col-sm-12
						h3.text-center Direcci&oacute;n de Pago
						div.form-group.control-group.required-field
							label.col-sm-4.control-label(for='ciudad') Ciudad
							div.col-sm-5
								select.form-control.selectpicker#ciudad(size=5, data-size=5, data-live-search="true", title='Seleccione su ciudad', required, name='city', data-validation-required-message="Este campo es obligatorio")
							p.help-block.col-sm-offset-4.col-sm-12
						div.form-group.control-group.required-field
							label.col-sm-4.control-label(for='calle-id') Calle
							div.col-sm-5
								input.form-control#calle-id(type="text", placeholder="Ej: Ayacucho 1210", required, data-validation-required-message='Este campo es obligatorio', name="street", maxlength=80, data-validation-maxlength-message="Puede tener hasta 80 caracteres")
							p.help-block.col-sm-offset-4.col-sm-12
						div.form-group.control-group.col-sm-6
							label.col-sm-8.control-label(for='piso-id') Piso
							div.col-sm-4(style='padding-left:30px')
								input.form-control#piso-id(type="text", placeholder="Ej: 3", data-input="number", name="floor", maxlength=3, data-validation-maxlength-message="Puede tener hasta 3 caracteres")
							p.help-block
						div.form-group.control-group.col-sm-6
							label.col-sm-3.control-label(for='dpto-id') Departamento
							div.col-sm-4(style='padding-right:0')
								input.form-control#dpto-id(type="text", placeholder="Ej: C", name="apartment", maxlength=2, data-validation-maxlength-message="El departamento puede tener 2 caracteres")
							p.help-block
						div.form-group.control-group.col-sm-6.required-field
							label.col-sm-8.control-label(for="cp-id") C&oacute;digo Postal
							div.col-sm-4(style='padding-left:30px')
								input.form-control#cp-id(type="text", data-input="number", required, placeholder="Ej: 1426", name="zip_code", maxlength=10, data-validation-maxlength-message="Puede tener hasta 10 caracteres", data-validation-required-message="Este campo es obligatorio")
							p.help-block.col-sm-offset-8(style="padding-left:30px")


	div.form-actions
		a.btn.btn-default.prev-step#prev-button-3(href="#") Volver a Pasajeros
		a.btn.btn-success.next-step.pull-right#next-button-3(href="#") Continuar a Confirmaci&oacute;n de Compra
