div.container#repeatDiv
	h1 Pasajeros
	form.form-horizontal(data-kind="pasajeros")
		table.table.table-bordered.table-condensed#info-de-contacto-table
			tbody
				tr
					td.text-left
						h3.text-center Informaci&oacute;n de Contacto
						div.form-group.col-sm-6.control-group.required-field
							label.col-sm-4.control-label(for="email") Email
							div.col-sm-8.controls
								input.form-control#email(name="email", type="email", placeholder="Ej: mail@mail.com",required, data-validation-email-message="Formato de email invalido", data-validation-required-message="Este campo es obligatorio")
							p.help-block.col-sm-offset-4

						div.form-group.col-sm-6.control-group.required-field
							label.col-sm-4.control-label(for="emailAgain") Confirme su Email
							div.col-sm-8.controls
								input.form-control#emailAgain(placeholder="Ej: mail@mail.com", required, name="emailAgain", type="email", data-validation-matches-match="email", data-validation-matches-message="Email no coincide con el anterior", data-validation-required-message="Este campo es obligatorio", data-validation-email-message="Formato de email invalido")
							p.help-block.col-sm-offset-4
						div.form-group.col-sm-6.control-group.required-field
							label.col-sm-4.control-label(for="phone") Tel&eacute;fono Principal
							div.col-sm-8.controls
								input.form-control#phone(name="phone", type="tel", data-input="number", placeholder="Ej: 0111523456789",required, data-validation-required-message="Este campo es obligatorio", maxlength=25)
							p.help-block.col-sm-offset-4

						div.form-group.col-sm-6.control-group
							label.col-sm-4.control-label(for="telaux") Tel&eacute;fono Auxiliar
							div.col-sm-8.controls
								// placeholder="Telefono Auxiliar"
								input.form-control#telaux(placeholder="Ej: 0111523456789", data-input="number", name="phoneAgain", type="tel", maxlength=25)
							p.help-block.col-sm-offset-4
		table.table.table-bordered#datos-pasajeros-table
			tbody#pasajeros-container
				tr#pasajero-hidden(style='display:none')
					td.text-left
						h3.text-center Pasajero #
							span.pasajero-nro
						div.form-group.col-sm-6.control-group.required-field
							label.col-sm-4.control-label(for="first-name-") Nombre/s
							div.col-sm-8
								input.form-control(id="first-name-" type="text", name="first_name-", placeholder="Ej: Federico", required, data-validation-required-message="Este campo es obligatorio", maxlength=80, data-validation-maxlength-message="Puede tener hasta 80 caracteres", minlength=1, data-validation-minlength-message="El campo no puede estar vacio")
							p.help-block.col-sm-offset-4
						div.form-group.col-sm-6.control-group.required-field
							label.col-sm-4.control-label(for="last-name-") Apellido
							div.col-sm-8
								input.form-control(id="last-name-", type="text", placeholder="Ej: Sosa", name="last_name-", required, data-validation-required-message= "Este campo es obligatorio", maxlength=80, data-validation-maxlength-message="Puede tener hasta 80 caracteres", minlength=1, data-validation-minlength-message="El campo no puede estar vacio")
							p.help-block.col-sm-offset-4
						div.form-group.col-sm-6.control-group.required-field
							label.control-label.col-sm-4(for="id_type-") Identificaci&oacute;n
							div.col-sm-4.sacar-clone
								select.form-control(id="id_type-", name="id_type-")
									option(value="1", selected) DNI
									option(value="2") Pasaporte
							div.col-sm-4
								input.form-control.dni(id="id_number-", required, type="text", data-input="number", name="id_number-" minlength=7, maxlength=8, placeholder="Ej: 34567145", data-validation-minlength-message="Debe contener por lo menos 7 caracteres", data-validation-maxlength-message="Debe contener como máximo 8 caracteres", data-validation-required-message="Este campo es obligatorio")
							p.help-block.col-sm-offset-4
						div.form-group.col-sm-6.control-group.sacar-clone
							label.control-label.col-sm-4(for="sexo_0-") Sexo
							div.col-sm-8
								label.radio-inline(for="sexo_0-")
									input(id="sexo_0-", type="radio", name="sexo-", value="1", checked)
									| Masculino
								label.radio-inline(for="sexo_1-")
									input(id="sexo_1-", type="radio", name="sexo-", value="2")
									| Femenino
						div.form-group.col-sm-12.control-group.fdn-group.required-field
							label.col-sm-2.control-label(for="birthdate_dia-") Fecha de Nacimiento
							div.col-sm-4(style='padding-right:27px;padding-left:9px')
								select.form-control.dia(id="birthdate_dia-", size=1, required, name="birthdate_dia-")
									- for (var j = 1; j <= 31; j++) {
										if j <= 9
											option(value="0#{j}") #{j}
										else
											option(value="#{j}") #{j}
									-	}
								label.dash-date.control-label /&nbsp;
								select.form-control.mes(id="birthdate_mes-", size=1, required, name="birthdate_mes-")
									- m = moment().startOf('year')
									- for (var j = 1; j <= 12; j++) {
										if j < 10
											option(value="#{j}") #{m.format('MMMM').replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); })}
										else
											option(value="#{0j}") #{m.format('MMMM').replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); })}
										- m.add(1,'month')
									-	}
								
								label.dash-date.control-label /&nbsp;
								input.form-control.anio(id="birthdate_anio-", name="birthdate_anio-", type="text", data-input='number', required, placeholder="Ej:1976", minlength=4, maxlength=4, data-validation-maxlength-message="Debe tener 4 números", data-validation-minlength-message="Debe tener 4 números", data-validation-required-message="Este campo es obligatorio")
							p.help-block.col-sm-offset-2.col-sm-12
	div.form-actions
		a.btn.btn-default.prev-step#prev-button-2(href="#") Volver a Datos de Vuelo
		button.btn.btn-success.next-step.pull-right#next-button-2(type="submit") Continuar a Pago