if passSuccess
	div.col-sm-12
		div.alert.alert-success
			b Enhorabuena!&nbsp;
			span Se ha modificado sus datos
form.form-horizontal(action="#{context.url('/profile/password')}", method="POST")
	input(type="hidden", name="userId", value="#{loggedUser.getId()}")
	div.form-group(class="#{result.hasFieldErrors('oldPassword')?'has-error':''}")
		label.col-sm-2.control-label Contraseña Actual
		div.col-sm-10
			input.form-control(type="password", placeholder="Contraseña Actual", name="oldPassword")
			+errors(result, 'oldPassword')
	div.form-group(class="#{result.hasFieldErrors('password')?'has-error':''}")
		label.col-sm-2.control-label Nueva Contraseña
		div.col-sm-10
			input.form-control(type="password", placeholder="Nueva Contraseña", name="password")
			+errors(result, 'password')
	div.form-group(class="#{result.hasFieldErrors('repeatPassword')?'has-error':''}")
		label.col-sm-2.control-label Repetir Nueva Contraseña
		div.col-sm-10
			input.form-control(type="password", placeholder="Repetir Nueva Contraseña", name="repeatPassword")
			+errors(result, 'repeatPassword')
	div.form-group
		div.col-sm-4.col-sm-offset-8
			button.btn.btn-success.btn-block(type="submit") Modificar