div.tab-pane-content
	if passSuccess
		div.col-sm-12
			div.alert.alert-success
				b #{messageSource.getMessage('successMessages.changePassword.title', [], locale)}!&nbsp;
				span #{messageSource.getMessage('successMessages.changePassword.content', [], locale)}
	div.col-sm-12
		h1.page-header Mi Contraseña
		form.form-horizontal(action="#{context.url('/profile/password')}", method="POST")
			input(type="hidden", name="userId", value="#{loggedUser.getId()}")
			div.form-group(class="#{result.hasFieldErrors('oldPassword')?'has-error':''}")
				label.col-sm-2.control-label #{messageSource.getMessage('profile.password.form.current',[],locale)}
				div.col-sm-10
					input.form-control(type="password", placeholder="#{messageSource.getMessage('profile.password.form.current',[],locale)}", name="oldPassword")
					+errors(result, 'oldPassword')
			div.form-group(class="#{result.hasFieldErrors('password')?'has-error':''}")
				label.col-sm-2.control-label #{messageSource.getMessage('profile.password.form.new',[],locale)}
				div.col-sm-10
					input.form-control(type="password", placeholder="#{messageSource.getMessage('profile.password.form.new',[],locale)}", name="password")
					+errors(result, 'password')
			div.form-group(class="#{result.hasFieldErrors('repeatPassword')?'has-error':''}")
				label.col-sm-2.control-label #{messageSource.getMessage('profile.password.form.repeat',[],locale)}
				div.col-sm-10
					input.form-control(type="password", placeholder="#{messageSource.getMessage('profile.password.form.repeat',[],locale)}", name="repeatPassword")
					+errors(result, 'repeatPassword')
			div.form-group
				div.col-sm-4.col-sm-offset-8
					button.btn.btn-success.btn-block(type="submit") #{messageSource.getMessage('profile.account.form.update',[],locale)}