div.tab-pane-content
	h1.page-header #{messageSource.getMessage('profile.purchases.title',[],locale)}
	ul.nav.nav-tabs#purchaseTab
		li.active
			a(href="#purchases-pending", data-toggle="tab") #{messageSource.getMessage('profile.purchases.pending',[],locale)}
		li
			a(href="#purchases-approved", data-toggle="tab") #{messageSource.getMessage('profile.purchases.approved',[],locale)}
		li
			a(href="#purchases-declined", data-toggle="tab") #{messageSource.getMessage('profile.purchases.declined',[],locale)}
	div.tab-content
		each status, i in purchases.keySet()
			div.tab-pane.fade(class=(status.toString()=='PENDING'?'in active':''), id='purchases-'+status.toString().toLowerCase())
				if purchases.get(status).isEmpty()
					div.alert.alert-info #{messageSource.getMessage('profile.sales.nothing',[],locale)}
				else
					table.table.table-striped
						thead
							tr
								th #{messageSource.getMessage('profile.items.table.picture',[],locale)}
								th #{messageSource.getMessage('profile.items.table.name',[],locale)}
								th #{messageSource.getMessage('profile.purchases.seller',[],locale)}
								th.text-right #{messageSource.getMessage('profile.items.table.price',[],locale)}
						tbody
							each purchase in purchases.get(status)
								tr
									td
										if purchase.item.images.isEmpty()
											img.table-img(style="width:40px;height:40px" src="http://placehold.it/40?text=Sin+Imagen")
										else
											img.table-img(style="width:40px;height:40px" src="#{context.url('/images/get/'+purchase.item.images.iterator().next().id)}")
									td #{purchase.item.name}
									td #{purchase.item.owner.username}
									td.text-right $#{purchase.item.price}
									