div.tab-pane-content
	h1.page-header #{messageSource.getMessage('profile.purchases.title',[],locale)}
	ul.nav.nav-tabs#purchasesTab
		li(class=status.toString().equals('PENDING')?'active':'')
			a(href=context.url('/profile/purchases/pending')) #{messageSource.getMessage('profile.purchases.pending',[],locale)}
		li(class=status.toString().equals('APPROVED')?'active':'')
			a(href=context.url('/profile/purchases/approved')) #{messageSource.getMessage('profile.purchases.approved',[],locale)}
		li(class=status.toString().equals('DECLINED')?'active':'')
			a(href=context.url('/profile/purchases/declined')) #{messageSource.getMessage('profile.purchases.declined',[],locale)}
	div.tab-content
		div.tab-pane.fade.in.active(id='purchases-'+status.toString().toLowerCase())
			if items.numberOfTotalResults == 0
				div.alert.alert-info #{messageSource.getMessage('profile.sales.nothing',[],locale)}
			else
				table.table.table-striped.table-condensed
					thead
						tr
							th(colspan=3)
								include profile_modifiers
							th(colspan=1)
								div.input-group.input-group-sm(style="width:100%")
									span.input-group-addon
										i.fa.fa-search
									input.form-control#query-input(type="text", placeholder="Search", value=filter.termFilter.term.orElse(''))
						tr
							th Comprador
							th(colspan=2) Articulo
							th Fecha
					tbody
						each purchase in items.results
							tr
								td
									b #{purchase.item.owner.firstName} #{purchase.item.owner.lastName}
									br
									span.text-muted #{purchase.item.owner.username}
									if purchase.status.toString().equals('APPROVED')
										| &nbsp;
										span (#{purchase.item.owner.email})
								td(style="width:40px")
									if purchase.item.images.isEmpty()
										img.table-img(style="width:40px;height:40px" src="http://placehold.it/40?text=Sin+Imagen")
									else
										img.table-img(style="width:40px;height:40px" src="#{context.url('/images/get/'+purchase.item.images.iterator().next().id)}")
								td
									span #{purchase.item.name}
									br
									span(style="color:#900") $#{purchase.item.price}
								td #{dateFormatter.format(purchase.created)}
								//- td.text-right $#{purchase.item.price}
								