div.tab-pane-content
	h1.page-header #{messageSource.getMessage('profile.purchases.title',[],locale)}
	ul.nav.nav-tabs#purchasesTab
		li(class=status.toString().equals('PENDING')?'active':'')
			a(href=context.url('/profile/purchases/pending')) #{messageSource.getMessage('profile.purchases.pending',[],locale)}
		li(class=status.toString().equals('APPROVED')?'active':'')
			a(href=context.url('/profile/purchases/approved')) #{messageSource.getMessage('profile.purchases.approved',[],locale)}
		li(class=status.toString().equals('DECLINED')?'active':'')
			a(href=context.url('/profile/purchases/declined')) #{messageSource.getMessage('profile.purchases.declined',[],locale)}
	div.tab-content
		div.tab-pane.fade.in.active(id='purchases-'+status.toString().toLowerCase())
			table.table.table-striped.table-condensed
				thead
					tr
						th(colspan=status.toString().equals('PENDING')?3:4)
							include profile_modifiers_purchases
						th(colspan=1)
							div.input-group.input-group-sm(style="width:100%")
								span.input-group-addon
									i.fa.fa-search
								input.form-control#query-input(type="text", placeholder="#{messageSource.getMessage('profile.purchases.table.search',[],locale)}", value=filter.termFilter.term.orElse(''))
					tr
						th #{messageSource.getMessage('profile.purchases.table.date',[],locale)}
						th #{messageSource.getMessage('profile.purchases.table.seller',[],locale)}
						th(colspan=2) #{messageSource.getMessage('profile.purchases.table.item',[],locale)}
						if !status.toString().equals('PENDING')
							th #{messageSource.getMessage('profile.purchases.table.score',[],locale)}
				tbody
					if items.numberOfTotalResults == 0
						tr.info
							td(colspan=4)
								div.alert #{messageSource.getMessage('profile.sales.nothing',[],locale)}
					each purchase in items.results
						tr(data-id=purchase.id)
							td.center-vertical #{dateFormatter.format(purchase.created)}
							td.center-vertical
								if purchase.status.toString().equals('APPROVED')
									b #{purchase.item.owner.firstName} #{purchase.item.owner.lastName}
									br
								span.text-muted #{purchase.item.owner.username}
								if purchase.status.toString().equals('APPROVED')
									| &nbsp;
									span (#{purchase.item.owner.email})
							td(style="width:40px")
								if purchase.item.images.isEmpty()
									img.table-img(style="width:40px;height:40px" src="http://placehold.it/40?text=Sin+Imagen")
								else
									img.table-img(style="width:40px;height:40px" src="#{context.url('/images/get/'+purchase.item.images.iterator().next().id)}")
							td
								span #{purchase.item.name}
								br
								span(style="color:#900") $#{purchase.item.price}
							if !status.toString().equals('PENDING')
								td.center-vertical
									button.btn.btn-default.btn-xs.show-scores(data-s-rating=purchase.sellerReview, data-b-rating=purchase.buyerReview) #{messageSource.getMessage('profile.purchases.seeScores', [], locale)}
			ul.pager#filter-page(data-page="#{items.currentPage}", data-last-page="#{items.numberOfTotalResults/items.pageSize}")
				li.previous(class="#{items.currentPage==0?'disabled':''}")
					a.filter-page-action(href="#")
						span &larr;
						span #{messageSource.getMessage('search.filters.pagination.pagers.first', [], locale)}
				li.pre(class="#{items.currentPage==0?'disabled':''}")
					a.filter-page-action(href="#") #{messageSource.getMessage('search.filters.pagination.pagers.previous', [], locale)}
				li.ne(class="#{items.currentPage==items.numberOfTotalResults/items.pageSize?'disabled':''}")
					a.filter-page-action(href="#") #{messageSource.getMessage('search.filters.pagination.pagers.next', [], locale)}
				li.next(class="#{items.currentPage==items.numberOfTotalResults/items.pageSize?'disabled':''}")
					a.filter-page-action(href="#")
						span #{messageSource.getMessage('search.filters.pagination.pagers.last', [], locale)}
						span &rarr;