div.tab-pane-content
	h1.page-header #{messageSource.getMessage('profile.sales.title',[],locale)}
	ul.nav.nav-tabs#salesTab
		li.active
			a(href="#sales-pending", data-toggle="tab") #{messageSource.getMessage('profile.sales.pending',[],locale)}
		li
			a(href="#sales-approved", data-toggle="tab") #{messageSource.getMessage('profile.sales.approved',[],locale)}
		li
			a(href="#sales-declined", data-toggle="tab") #{messageSource.getMessage('profile.sales.declined',[],locale)}
	div.tab-content
		each status, i in transactions.keySet()
			div.tab-pane.fade(class=(status.toString().equals('PENDING')?'in active':''), id='sales-'+status.toString().toLowerCase())
				if transactions.get(status).isEmpty()
					div.alert.alert-info #{messageSource.getMessage('profile.sales.nothing',[],locale)}
				else
					table.table.table-striped
						thead
							tr
								th #{messageSource.getMessage('profile.items.table.picture',[],locale)}
								th #{messageSource.getMessage('profile.items.table.name',[],locale)}
								th.text-right #{messageSource.getMessage('profile.items.table.price',[],locale)}
								//-th #{messageSource.getMessage('profile.items.table.sold',[],locale)}
								//-th Publicado
								//-th Ultima Modificación
								th
								th
						tbody
							each transaction in transactions.get(status)
								tr(data-id=transaction.id)
									td
										if transaction.item.images.isEmpty()
											img.table-img(style="width:40px;height:40px" src="http://placehold.it/40?text=Sin+Imagen")
										else
											img.table-img(style="width:40px;height:40px" src="#{context.url('/images/get/'+transaction.item.images.iterator().next().id)}")
									td #{transaction.item.name}
									td.text-right $#{transaction.item.price}
									if status.toString().equals('PENDING')
										td
											button.btn.btn-success.decide-transaction #{messageSource.getMessage('profile.sales.success',[],locale)}
											button.btn.btn-danger.decide-transaction #{messageSource.getMessage('profile.sales.danger',[],locale)}
									//-td #{item.sold} #{messageSource.getMessage('profile.items.table.sold',[],locale)}
									//-td #{item.created}
									//-td #{item.lastUpdated}
									//-td
										a(href="#{context.url('/store/item/'+item.id+'/details')}", title="#{messageSource.getMessage('profile.items.table.edit',[],locale)}") #{messageSource.getMessage('profile.items.table.edit',[],locale)}