extends layout

block scripts

block styles
	link(href="#{context.url('/resources/css/admin.css')}", rel="stylesheet")

block content
	+navbar(false)
	div.container-fluid
		div.row
			div.col-sm-3
				include partials/admin_sidebar
			div.col-sm-9
				h1 #{messageSource.getMessage('admin.roles.headline',[],locale)}&nbsp;
					a.pull-right(href="#{context.url('/admin/roles/create')}")
						i.fa.fa-plus
						span &nbsp;#{messageSource.getMessage('admin.roles.add',[],locale)}
				div.row
					table.table.table-striped
						thead
							tr
								th #{messageSource.getMessage('admin.roles.name',[],locale)}
								th Slug
								th #{messageSource.getMessage('admin.roles.default',[],locale)}
						tbody
							each role in roles
								tr
									td #{role.roleName}
									td #{role.slug}
									td
										if role.isDefault()
											i.text-success.fa.fa-check(title="#{messageSource.getMessage('admin.roles.isDefault',[],locale)}")
										else
											a.text-muted(href="#", title="#{messageSource.getMessage('admin.roles.makeDefault',[],locale)}")
												i.fa.fa-minus

