doctype html
html(lang="es")
	head
		title Siglas Commerce
		meta(name="viewport", content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no,minimal-ui")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		link(href="#{context.url('/resources/css/bootstrap.css')}", rel="stylesheet")
		link(href="#{context.url('/resources/css/font-awesome.css')}", rel="stylesheet")
		link(href="#{context.url('/resources/css/animate.css')}", rel="stylesheet")
		link(href="#{context.url('/resources/css/style.css')}", rel="stylesheet")
		block styles
	body
		include mixins/mixins
		block content
		script(src="#{context.url('/resources/js/lib/jquery.js')}", type="text/javascript")
		script(src="#{context.url('/resources/js/lib/bootstrap.js')}", type="text/javascript")
		script(src="#{context.url('/resources/js/lib/moment-with-locales.js')}", type="text/javascript")
		script(src="#{context.url('/resources/js/lib/jquery.easing.js')}", type="text/javascript")
		script(src="#{context.url('/resources/js/lib/underscore.js')}", type="text/javascript")
		script(src="#{context.url('/resources/js/lib/async.js')}", type="text/javascript")
		script(src="#{context.url('/resources/js/lib/q.js')}", type="text/javascript")
		script(src="#{context.url('/resources/js/lib/jqBootstrapValidation-1.3.7.js')}", type="text/javascript")
		script(src="#{context.url('/resources/js/lib/bootbox.js')}", type="text/javascript")
		block scripts