extends layout

block content
	+navbar(true)
	div.container
		div.row
			div.col-sm-6.col-sm-offset-3
				div.well
					if error
						div.alert.alert-danger
							b Error!&nbsp;
							span Usuario o contraseña incorrectas
					form.form-horizontal(action="#{context.url('/auth/login'+(next?'?next='+next:''))}", method="POST")
						div.form-group
							label.control-label.col-sm-3(for="username") #{messageSource.getMessage('login.field.user', [], locale)}
							div.col-sm-9
								input.form-control#username(type="text", placeholder="#{messageSource.getMessage('login.field.user', [], locale)}", name="username")
						div.form-group
							label.control-label.col-sm-3(for="password") #{messageSource.getMessage('login.field.password', [], locale)}
							div.col-sm-9
								input.form-control#password(type="password", placeholder="#{messageSource.getMessage('login.field.password', [], locale)}", name="password")
						div.form-group
								div.col-sm-12
									button.btn.btn-success.btn-block(type="submit") Ingresar
						div.form-group
							div.col-sm-12
								span No tienes un usuario aun?&nbsp;
								a(href="#{context.url('/auth/register')}") Registrese