extends layout

block content
	header.navbar.navbar-fixed-top#top-navbar
		div.container
			div.navbar-header
				button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#main-navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#{context.url('/')}", style="font-size:2em")
					i.fa.fa-shopping-basket
					| &nbsp;SIGLAS
			nav.collapse.navbar-collapse#navbar-content
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#{context.url('/register')}") Registrate
					li
						a(href="#{context.url('/login')}") Ingresar
					li
						a(href="#{context.url('/sell')}") #{messageSource.getMessage("index.sell", [], locale)}

	div.container
		div.row
			div.col-sm-4.col-sm-offset-4
				div.well
					form.form-horizontal(action="/login", method="POST")
						div.form-group
							label.control-label.col-sm-3(for="username") Usuario
							div.col-sm-9
								input.form-control#username(type="text", placeholder="Usuario", name="username")
						div.form-group
							label.control-label.col-sm-3(for="password") Password
							div.col-sm-9
								input.form-control#password(type="password", placeholder="Password", name="password")
						div.form-group
								button.btn.btn-success.btn-block(type="submit") Ingresar
						div.form-group
							span No tienes un usuario aun?&nbsp;
							a(href="#{context.url('/register')}") Registrese