extends layout

block content
	header.navbar.navbar-fixed-top#top-navbar
		div.container
			div.navbar-header
				button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#main-navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#{context.url('/')}", style="font-size:2em")
					i.fa.fa-shopping-basket
					| &nbsp;SIGLAS
			nav.collapse.navbar-collapse#navbar-content
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#{context.url('/sell')}") Vender
				form.navbar-form#navbar-search(action="#{context.url('/items')}")
					div.form-group(style="width:50%")
						div.input-group
							input.form-control(type="text", placeholder="Busqueda de productos", style="width:100%", name="query")
							span.input-group-btn(style="width:1%")
								button.btn.btn-default(type="submit")
									i.fa.fa-search
	div.container
		div.row
			div.col-sm-12
				h1 Resultados de la b&uacute;squeda&nbsp;
					i #{query}
		div.row
			div.col-sm-2
			div.col-sm-10
				div.row
					div.col-sm-6
						span Su b&uacute;squeda ha producido #{storeItems.size()} resultado#{storeItems.size()!=1?'s':''}
					div.col-sm-6
						//-form(action="#{context.url('/items')}")
							input(type="hidden", name="query", value="#{query}")
							input(type="hidden", name="pageNumber", value="#{pageNumber}")
							select(name="sortBy")
				if storeItems.size() == 0
					h3.text-warning No hay productos que mostrar
				each item in storeItems
					div.col-sm-3
						a(href="#{context.url('/item/'+item.id)}")
							img(src="http://lorempixel.com/200/200/fashion", style="width:100%;height:auto")
						br
						a(href="#{context.url('/item/'+item.id)}")
							b #{item.name}
						br
						span $#{item.price}
				//-div.col-sm-12
					table.table
						thead
							th id
							th Nombre
							th Descripcion
							th Precio
						each storeItem in storeItems
							tr
								td #{storeItem.id}
								td #{storeItem.name}
								td #{storeItem.description}
								td $#{storeItem.price}
								
								