extends layout

block styles
	link(href="#{context.url('/resources/css/products.css')}", rel="stylesheet")
block scripts
	script(src="#{context.url('/resources/js/products.js')}", type="text/javascript")

block content
	include mixins/product
	include partials/navbar-with-search
	div.container
		div.row
			div.col-sm-12
				h1 #{messageSource.getMessage('search.searchResults', [], locale)}&nbsp;
					i #{query}
		div.row
			div.col-sm-2
				include partials/filters
			div.col-sm-10
				include partials/modifiers
				div.row
					if storeItems.size() == 0
						h3.text-warning No hay productos que mostrar
					each item in storeItems
						+product(item)
				div.row
					div.col-sm-12
						ul.pager#filter-page(data-page="#{pageNumber}", data-last-page="#{lastPage}")
							li.previous(class="#{pageNumber==0?'disabled':''}")
									a.filter-page-action(href="#")
										span &larr;
										span #{messageSource.getMessage('search.filters.pagination.pagers.first', [], locale)}
							li.pre(class="#{pageNumber==0?'disabled':''}")
								a.filter-page-action(href="#") #{messageSource.getMessage('search.filters.pagination.pagers.previous', [], locale)}
							li.ne(class="#{pageNumber==lastPage?'disabled':''}")
								a.filter-page-action(href="#") #{messageSource.getMessage('search.filters.pagination.pagers.next', [], locale)}
							li.next(class="#{pageNumber==lastPage?'disabled':''}")
									a.filter-page-action(href="#")
										span #{messageSource.getMessage('search.filters.pagination.pagers.last', [], locale)}
										span &rarr;
								