extends layout

block styles
	link(href="#{context.url('/resources/css/product.css')}", rel="stylesheet")

block scripts
	script(type="text/javascript", src="#{context.url('/resources/js/product.js')}")


block content
	+navbar(true)
	div.container
		div.row
			div.col-sm-10.col-sm-offset-1
				if published
					div.row
						div.col-sm-12
							div.alert.alert-success.alert-dismissable
								button.close(type="button", data-dismiss="alert")
									span &times;
								strong Enhorabuena!
								span &nbsp; Su producto ha sido publicado con exito
								br
								a.btn.btn-success(href="#{context.url('/store/sell/details')}") Publicar otro
				div.row#product-container
					div.col-sm-4
						if storeItem.images.isEmpty()
							img(src="http://lorempixel.com/400/400/fashion", style="width:100%;height:auto")
						else
							div.carousel.slide#carousel(data-ride="carousel")
								ol.carousel-indicators
									each image, i in storeItem.images
										li(data-target="#carousel", data-slide-to="#{i}", class="#{i==0?'active':''}")

								div.carousel-inner
									each image, i in storeItem.images
										div.item(class="#{i==0?'active':''}")
											img(src="#{context.url('/images/get/'+image.id)}", alt="Imagen #{(i+1)}")
								if storeItem.images.size() > 1
									a.left.carousel-control(href="#carousel", data-slide="prev")
										span.glyphicon.glyphicon-chevron-left
										span.sr-only Previous
									a.right.carousel-control(href="#carousel", data-slide="next")
										span.glyphicon.glyphicon-chevron-right
										span.sr-only Next
					div.col-sm-8
						h1 #{storeItem.name}&nbsp;
							if loggedUser
								if userFavourites.contains(storeItem)
									a.text-danger.add-favourite(href="#", data-item="#{storeItem.id}")
										i.fa.fa-heart
								else
									a.text-muted.add-favourite(href="#", data-item="#{storeItem.id}")
										i.fa.fa-heart
						span #{storeItem.sold} vendidos
						br
						br
						span Articulo&nbsp;
							if storeItem.used
								span usado
							else
								span nuevo
						h3.price $#{storeItem.price}
						a.btn.btn-success.btn-lg(href="#", data-buyer-email="#{storeItem.owner.email}") #{messageSource.getMessage('item.buy', [], locale)}
					div.col-sm-12
						h3 Descripcion
						p #{storeItem.description}
		div.row
			div.col-sm-10.col-sm-offset-1
				div.well
					h3 Comentarios
					if loggedUser
						form.form-horizontal(action="#{context.url('/store/item/'+storeItem.id+'/comment')}", method="POST")
							div.form-group(class="#{commentError?'has-error':''}")
								div.col-sm-12
									textarea.form-control#content(name="content", placeholder="Comentario")
							div.form-group
								div.col-sm-offset-8.col-sm-4
									button.btn.btn-block.btn-success(type="submit")
										i.fa.fa-comment
										span &nbsp;Comentar
					else
						a.btn.btn-success(href="#{context.url('/auth/login?next='+currentURI)}")
							i.fa.fa-comment
							span &nbsp;Comentar
					if comments.isEmpty()
						p.lead No hay comentarios aun
					each comment in comments
						div.comment
							b.comment-author #{comment.user.firstName}
							span.pull-right
								i.fa.fa-clock-o
								span &nbsp;2016-06-06
							p #{comment.content}
						