extends layout

block styles
	link(href="#{context.url('/resources/dist/css/products.css')}", rel="stylesheet")
block scripts
	script(src="#{context.url('/resources/dist/js/products.js')}", type="text/javascript")

block content
	include mixins/product
	header.navbar.navbar-fixed-top#top-navbar
		div.container
			div.navbar-header
				button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#main-navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#{context.url('/')}", style="font-size:2em")
					i.fa.fa-shopping-basket
					| &nbsp;SIGLAS
			nav.collapse.navbar-collapse#navbar-content
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#{context.url('/sell')}") Vender
				form.navbar-form#navbar-search(action="#{context.url('/items')}")
					div.form-group(style="width:50%")
						div.input-group
							input.form-control#navbar-query-input(type="text", placeholder="Busqueda de productos", style="width:100%", name="query", value="#{query!=null?query:''}")
							span.input-group-btn(style="width:1%")
								button.btn.btn-default(type="submit")
									i.fa.fa-search
	div.container
		div.row
			div.col-sm-12
				h1 Resultados de la b&uacute;squeda&nbsp;
					i #{query}
		div.row
			div.col-sm-2
				include partials/filters
			div.col-sm-10
				include partials/modifiers
				div.row
					if storeItems.size() == 0
						h3.text-warning No hay productos que mostrar
					each item in storeItems
						+product(item)
				div.row
					div.col-sm-12
						ul.pager#filter-page(data-page="#{pageNumber}", data-last-page="#{lastPage}")
							li.previous(class="#{pageNumber==0?'disabled':''}")
									a.filter-page-action(href="#")
										span &larr;
										span Primera
							li.pre(class="#{pageNumber==0?'disabled':''}")
								a.filter-page-action(href="#") Anterior
							li.ne(class="#{pageNumber==lastPage?'disabled':''}")
								a.filter-page-action(href="#") Proxima
							li.next(class="#{pageNumber==lastPage?'disabled':''}")
									a.filter-page-action(href="#")
										span Última
										span &rarr;
								