extends layout

block styles
	link(href="#{context.url('/resources/css/product.css')}", rel="stylesheet")

block scripts
	script(type="text/javascript", src="#{context.url('/resources/js/product.js')}")

block content
	include partials/navbar-with-search
	div.container
		div.row
			div.col-sm-10.col-sm-offset-1
				if published
					div.row
						div.col-sm-12
							div.alert.alert-success.alert-dismissable
								button.close(type="button", data-dismiss="alert")
									span &times;
								strong Enhorabuena!
								span &nbsp; Su producto ha sido publicado con exito
								br
								a.btn.btn-success(href="#{context.url('/sell')}") Publicar otro
				div.row#product-container
					div.col-sm-3
						img(src="http://lorempixel.com/400/400/fashion", style="width:100%;height:auto")
					div.col-sm-9
						h1 #{storeItem.name}
						p #{storeItem.description}
						h3 $#{storeItem.price}
						a.btn.btn-success.btn-lg(href="#", data-buyer-email="#{storeItem.email}") #{messageSource.getMessage('item.buy', [], locale)}