extends layout

block styles
	link(href="#{context.url('/resources/css/product.css')}", rel="stylesheet")

block scripts
	script(type="text/javascript", src="#{context.url('/resources/js/lib/rater.js')}")
	script.
		var messages = {
			addError: "#{messageSource.getMessage('successMessages.toggleFavourite.addError',[],locale)}",
			addSuccess: "#{messageSource.getMessage('successMessages.toggleFavourite.addSuccess',[],locale)}",
			removeError: "#{messageSource.getMessage('successMessages.toggleFavourite.removeError',[],locale)}",
			removeSuccess: "#{messageSource.getMessage('successMessages.toggleFavourite.removeSuccess',[],locale)}",
			buySuccess: "#{messageSource.getMessage('successMessages.buyItem.success',[],locale)}",
			buyError: "#{messageSource.getMessage('successMessages.buyItem.error',[],locale)}"
		};
	script(type="text/javascript", src="#{context.url('/resources/js/product.js')}")


block content
	+navbar(true)
	div.container
		div.row
			div.col-sm-10.col-sm-offset-1
				if published
					div.row
						div.col-sm-12
							div.alert.alert-success.alert-dismissable
								button.close(type="button", data-dismiss="alert")
									span &times;
								strong #{messageSource.getMessage('successMessages.publishItem.title', [], locale)}!
								span &nbsp; #{messageSource.getMessage('successMessages.publishItem.content', [], locale)}
								br
								a.btn.btn-success(href="#{context.url('/store/sell/details')}") #{messageSource.getMessage('successMessages.publishItem.action', [], locale)}
				div.row#product-container
					div.col-sm-4
						if storeItem.images.isEmpty()
							img(src="http://placehold.it/400?text=Sin+Imagen", style="width:100%;height:auto")
						else
							div.carousel.slide#carousel(data-ride="carousel")
								ol.carousel-indicators
									each image, i in storeItem.images
										li(data-target="#carousel", data-slide-to="#{i}", class="#{i==0?'active':''}")

								div.carousel-inner
									each image, i in storeItem.images
										div.item(class="#{i==0?'active':''}")
											img(src="#{context.url('/images/get/'+image.id)}", alt="Imagen #{(i+1)}")
								if storeItem.images.size() > 1
									a.left.carousel-control(href="#carousel", data-slide="prev")
										span.glyphicon.glyphicon-chevron-left
										span.sr-only Previous
									a.right.carousel-control(href="#carousel", data-slide="next")
										span.glyphicon.glyphicon-chevron-right
										span.sr-only Next
					div.col-sm-8
						h1 #{storeItem.name}&nbsp;
							if loggedUser
								if !publishedItems.contains(storeItem)
									if userFavourites.contains(storeItem)
										a.text-danger.add-favourite(href="#", data-item=storeItem.id)
											i.fa.fa-heart
									else
										a.text-muted.add-favourite(href="#", data-item=storeItem.id)
											i.fa.fa-heart
						div.rating.static(style="font-size:32px", data-rate-value=storeItem.rating)
						span #{storeItem.sold} #{messageSource.getMessage('item.sold', [], locale)}
						br
						br
						span #{messageSource.getMessage('item.item', [], locale)}:&nbsp;
							if storeItem.used
								b #{messageSource.getMessage('item.used', [], locale)}
							else
								b #{messageSource.getMessage('item.new', [], locale)}
						h3.price $#{storeItem.price}
						- var publishedItem = false
						- var purchasedItem = false
						if loggedUser
							if publishedItems.contains(storeItem)
								- publishedItem = true
							if purchasedItems.contains(storeItem)
								- purchasedItem = true
								div Tiene una compra pendiente para este articulo
								a.btn.btn-success(href=context.url('/profile/details#purchases')) Ver Aqui
						if !publishedItem && !purchasedItem
							button.btn.btn-success.btn-lg#purchase(data-buyer-email="#{storeItem.owner.email}", data-item="#{storeItem.id}") #{messageSource.getMessage('item.buy', [], locale)}
						if !loggedUser
							a.btn.btn-success.btn-lg#purchase(href=context.url('/auth/login?next='+currentURI)) #{messageSource.getMessage('item.buy', [], locale)}
					div.col-sm-12
						h3 #{messageSource.getMessage('item.description', [], locale)}
						p #{storeItem.description}
		div.row
			div.col-sm-10.col-sm-offset-1
				div.well
					h3 #{messageSource.getMessage('item.comments', [], locale)}
					if loggedUser
						if publishedItems
							if !publishedItems.contains(storeItem)
								form.form-horizontal(action="#{context.url('/store/item/'+storeItem.id+'/comment')}", method="POST")
									div.form-group
										div.col-sm-12
											label.col-sm-2.control-label(for="score") Puntaje
											div.col-sm-10
												input#score-input(type="hidden", value="2.5", name="rating")
												div#score.rating(style="font-size:1.5em", data-rate-value="2.5")
												p.help-block
									div.form-group(class="#{commentError?'has-error':''}")
										label.col-sm-2.control-label(for="content") #{messageSource.getMessage('item.comment', [], locale)}
										div.col-sm-10
											textarea.form-control#content(name="content", placeholder="#{messageSource.getMessage('item.comment', [], locale)}")
											if commentError
												span.help-block #{messageSource.getMessage('NotEmpty.CommentForm.content',[],locale)}
												span.help-block #{messageSource.getMessage('Size.CommentForm.contentFixed',[],locale)}
									div.form-group
										div.col-sm-offset-8.col-sm-4
											button.btn.btn-block.btn-success(type="submit")
												i.fa.fa-comment
												span &nbsp;#{messageSource.getMessage('item.commentAction', [], locale)}
					else
						a.btn.btn-success(href="#{context.url('/auth/login?next='+currentURI)}")
							i.fa.fa-comment
							span &nbsp;#{messageSource.getMessage('item.commentAction', [], locale)}
					if comments.isEmpty()
						p.lead #{messageSource.getMessage('item.commentEmpty', [], locale)}
					each comment in comments
						div.comment
							b.comment-author #{comment.user.firstName}
							span.pull-right
								i.fa.fa-clock-o
								span &nbsp;#{dateFormatter.format(comment.created)}
							div.row
								div.col-sm-2.text-center
									span.user-score #{comment.rating}
									div.rating.static(style="font-size:1.5em" data-rate-value=comment.rating)
								div.col-sm-10
									p #{comment.content}
						