extends layout

block styles
	link(href="#{context.url('/resources/css/profile.css')}", rel="stylesheet")

block scripts
	script(src="#{context.url('/resources/js/profile.js')}", type="text/javascript")
block content
	+navbar(true)
	div.container#profile-container
		div.row
			div.col-sm-3
				ul.nav.nav-tabs.tabs-left#myTab
					li(class=show.equals("account")?'active':'')
						a(href=context.url('/profile/details')) #{messageSource.getMessage('profile.account.title',[],locale)}
					li(class=show.equals("password")?'active':'')
						a(href=context.url('/profile/password')) #{messageSource.getMessage('profile.password.title',[],locale)}
					li(class=show.equals("items")?'active':'')
						a(href=context.url('/profile/items')) #{messageSource.getMessage('profile.items.title',[],locale)}
					li(class=show.equals("sales")?'active':'')
						a(href=context.url('/profile/sales')) #{messageSource.getMessage('profile.sales.title',[],locale)}
					li(class=show.equals("purchases")?'active':'')
						a(href=context.url('/profile/purchases')) #{messageSource.getMessage('profile.purchases.title',[],locale)}
			div.col-sm-9(style="padding: 0")
				div.tab-content
					div.tab-pane.fade(class=show.equals("account")?'in active':'')#account
						if show.equals('account')
							include partials/account
					div.tab-pane.fade(class=show.equals("password")?'in active':'')#password
						if show.equals('password')
							include partials/password
					div.tab-pane.fade(class=show.equals("items")?'in active':'')#items
						if show.equals('items')
							include partials/items
					div.tab-pane.fade(class=show.equals("sales")?'in active':'')#sales
						if show.equals('sales')
							include partials/sales
					div.tab-pane.fade(class=show.equals("purchases")?'in active':'')#purchases
						if show.equals('purchases')
							include partials/purchases