extends layout

block styles
	link(href="#{context.url('/resources/css/profile.css')}", rel="stylesheet")

block scripts
	script(src="#{context.url('/resources/js/profile.js')}", type="text/javascript")
block content
	+navbar(true)
	div.container#profile-container
		div.row
			div.col-sm-3
				ul.nav.nav-tabs.tabs-left#myTab
					li.active
						a(href="#account", data-toggle="tab") #{messageSource.getMessage('profile.account.title',[],locale)}
					li
						a(href="#password", data-toggle="tab") #{messageSource.getMessage('profile.password.title',[],locale)}
					li
						a(href="#items", data-toggle="tab") #{messageSource.getMessage('profile.items.title',[],locale)}
					li
						a(href="#sales", data-toggle="tab") #{messageSource.getMessage('profile.sales.title',[],locale)}
					li
						a(href="#purchases", data-toggle="tab") #{messageSource.getMessage('profile.purchases.title',[],locale)}
			div.col-sm-9
				div.tab-content
					div.tab-pane.fade.in.active#account
						include partials/account
					div.tab-pane.fade#password
						include partials/password
					div.tab-pane.fade#items
						include partials/items
					div.tab-pane.fade#sales
						include partials/sales
					div.tab-pane.fade#purchases
						include partials/purchases