extends layout

block content
	header.navbar.navbar-fixed-top#top-navbar
		div.container
			div.navbar-header
				button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#main-navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#{context.url('/')}", style="font-size:2em")
					i.fa.fa-shopping-basket
					| &nbsp;SIGLAS
			nav.collapse.navbar-collapse#navbar-content
				ul.nav.navbar-nav.navbar-right
					li
						a(href="#{context.url('/register')}") Registrate
					li
						a(href="#{context.url('/login')}") Ingresar
					li
						a(href="#{context.url('/sell')}") #{messageSource.getMessage("index.sell", [], locale)}

	div.container
		div.row
			div.col-sm-6.col-sm-offset-3
				div.well
					form.form-horizontal(action="#{context.url('/register')}", method="POST")
						div.form-group(class="#{result.hasFieldErrors('firstName')?'has-error':''}")
							label.control-label.col-sm-3(for="firstName") Nombre
							div.col-sm-9
								input.form-control#firstName(type="text", placeholder="Nombre", name="firstName", value="#{user.firstName?user.firstName:''}")
								+errors(result, 'firstName')
						div.form-group(class="#{result.hasFieldErrors('lastName')?'has-error':''}")
							label.control-label.col-sm-3(for="lastName") Apellido
							div.col-sm-9
								input.form-control#lastName(type="text", placeholder="Apellido", name="lastName", value="#{user.lastName?user.lastName:''}")
								+errors(result, 'lastName')
						div.form-group(class="#{result.hasFieldErrors('email')?'has-error':''}")
							label.control-label.col-sm-3(for="email") Email
							div.col-sm-9
								input.form-control#email(type="text", placeholder="Email", name="email", value="#{user.email?user.email:''}")
								+errors(result, 'email')
						div.form-group(class="#{result.hasFieldErrors('username')?'has-error':''}")
							label.control-label.col-sm-3(for="username") Usuario
							div.col-sm-9
								input.form-control#username(type="text", placeholder="Usuario", name="username", value="#{user.username?user.username:''}")
								+errors(result, 'username')
						div.form-group(class="#{result.hasFieldErrors('password')?'has-error':''}")
							label.control-label.col-sm-3(for="password") Password
							div.col-sm-9
								input.form-control#password(type="password", placeholder="Password", name="password", value="#{user.password?user.password:''}")
								+errors(result, 'password')
						div.form-group(class="#{result.hasFieldErrors('repeatPassword')?'has-error':''}")
							label.control-label.col-sm-3(for="repeatPassword") Repeat Password
							div.col-sm-9
								input.form-control#repeatPassword(type="password", placeholder="Repeat Password", name="repeatPassword", value="#{user.repeatPassword?user.repeatPassword:''}")
								+errors(result, 'repeatPassword')
						div.form-group
								div.col-sm-12
									button.btn.btn-success.btn-block(type="submit") Ingresar
						div.form-group
							div.col-sm-12
								span No tienes un usuario aun?&nbsp;
								a(href="#{context.url('/register')}") Registrese