extends layout

block scripts
	script(src="#{context.url('/resources/js/lib/dropzone.js')}", type="text/javascript")
	script.
		Dropzone.options.autoDiscover = false;
		Dropzone.autoDiscover = false;

		$(document).ready(function () {

			var dropzone = new Dropzone('#dropzone', {
				url: "#{context.url('/images/upload/'+item.id)}",
				acceptedFiles: 'image/*',
				addRemoveLinks: true,
				autoProcessQueue: false,
				paramName: function () {
					return 'images';
				},
				dictDefaultMessage: "#{messageSource.getMessage('sell.image.upload.drag',[],locale)}" // <---- rellenar con messageSource.getMessage
			});

			$dropzone = $('#dropzone');

			$dropzone.addClass('dropzone')

			$('#uploadImages').click(function (e) {
				e.preventDefault();
				
				dropzone.processQueue();

			});

			dropzone.on('queuecomplete', function () {
				window.location.href = "#{context.url('/store/items/'+item.id)}";
			});
			
		});

		//- var dropzone = new Dropzone('div#dropzone', {
		//- 	url: "#{context.url('/')}"
		//- });
	script(src="#{context.url('/resources/js/sell.js')}", type="text/javascript")

block styles
	link(href="#{context.url('/resources/css/dropzone.css')}", rel="stylesheet")
	link(href="#{context.url('/resources/css/sell.css')}", rel="stylesheet")

block content
	+navbar(true)
	div.container
		div.row
			div.col-sm-10.col-sm-offset-1
				h1 #{messageSource.getMessage('sell.image.upload.headline',[],locale)} `#{item.name}`
				if publishedItem
					div.row
						div.col-sm-12
							div.alert.alert-success.alert-dismissable
								button.close(type="button", data-dismiss="alert")
									span &times;
								strong Enhorabuena!
								span &nbsp; Su producto ha sido creado con exito
								br
								a.btn.btn-default(href="#{context.url('/store/item/'+item.id+'/details/')}") Editar Detalles
				form.form-horizontal(method="POST",action="#{context.url('/images/upload/'+item.id)}", enctype="multipart/form-data")
					div.form-group
						label.col-sm-2.control-label #{messageSource.getMessage('sell.field.pictures',[],locale)}
						div.col-sm-10
							//-input(name="images", type="file")
							div#dropzone
								div.dz-message #{messageSource.getMessage('sell.image.upload.drag',[],locale)}
								div.fallback
									input(name="images", type="file", multiple)
					div.form-group
						div.col-sm-2.col-sm-offset-2
							a.btn.btn-default.btn-block(href="#{context.url('/')}")
								i.fa.fa-chevron-left
								| &nbsp;#{messageSource.getMessage('sell.back',[],locale)}
						div.col-sm-4.col-sm-offset-4
							button.btn.btn-success.btn-block#uploadImages(type="submit") #{messageSource.getMessage('sell.okImages',[],locale)}
					
					