extends layout

block scripts
	script(src="#{context.url('/resources/js/lib/dropzone.js')}", type="text/javascript")
	script.
		Dropzone.options.autoDiscover = false;

		$(document).ready(function () {
			$('#dropzone').addClass('dropzone').dropzone({
				url: "#{context.url('/')}",
				acceptedFiles: 'image/*',
				addRemoveLinks: true,
				autoProcessQueue: false,
				hiddenInputContainer: '#dropzone-input',
				paramName: function () {
					return 'images';
				}
				//- dictDefaultMessage: '' // <---- rellenar con messageSource.getMessage
			});
		});

		//- var dropzone = new Dropzone('div#dropzone', {
		//- 	url: "#{context.url('/')}"
		//- });
	script(src="#{context.url('/resources/js/sell.js')}", type="text/javascript")

block styles
	link(href="#{context.url('/resources/css/dropzone.css')}", rel="stylesheet")

block content
	include partials/navbar-with-search
	div.container
		div.row
			div.col-sm-10.col-sm-offset-1
				h1 #{messageSource.getMessage('sell.headline',[],locale)}
				form.form-horizontal(method="POST", action="#{context.url('/sell')}")
					input(type="hidden", name="owner", value="#{loggedUser.id}")
					div.form-group(class="#{bindingResult.hasFieldErrors('name')?'has-error':''}")
						label.col-sm-2.control-label(for="name") #{messageSource.getMessage('sell.field.name',[],locale)}
						div.col-sm-10
							input.form-control(type="text", id="name", name="name", placeholder="#{messageSource.getMessage('sell.field.name',[],locale)}", value="#{item.name?item.name:''}")
							+errors(bindingResult, 'name')
					div.form-group(class="#{bindingResult.hasFieldErrors('description')?'has-error':''}")
						label.col-sm-2.control-label(for="description") #{messageSource.getMessage('sell.field.description',[],locale)}
						div.col-sm-10
							textarea.form-control(name="description", id="description", placeholder="#{messageSource.getMessage('sell.field.description',[],locale)}", value="#{item.description?item.description:''}", rows="12") #{item.description?item.description:''}
							+errors(bindingResult, 'description')
					div.form-group(class="#{bindingResult.hasFieldErrors('price')?'has-error':''}")
						label.col-sm-2.control-label(for="price") #{messageSource.getMessage('sell.field.price',[],locale)}
						div.col-sm-10
							div.input-group
								span.input-group-addon $
								input.form-control(type="number", id="price", name="price", placeholder="#{messageSource.getMessage('sell.field.price',[],locale)}", min="0", step="0.01", value="!{item.price}")
							+errors(bindingResult, 'price')
					div.form-group
						label.col-sm-2.control-label(for="category") #{messageSource.getMessage('sell.field.category',[],locale)}
						div.col-sm-10
							mixin categories(categories, depth)
								each category in categories
									option(value="#{category.id}") #{category.name}
									+categories(category.children, depth+1)
							select.form-control(name="categoryId", id="category")
								+categories(categories, 0)
							+errors(bindingResult, 'category')
					div.form-group(class="#{bindingResult.hasFieldErrors('used')?'has-error':''}")
						div.col-sm-10.col-sm-offset-2
							div.checkbox
								label
									input(type="checkbox", id="used", name="used", value="#{item.used?item.used:''}")
									span #{messageSource.getMessage('sell.field.used',[],locale)}
							+errors(bindingResult, 'used')
					div.form-group
						div.col-sm-2.col-sm-offset-2
							a.btn.btn-default.btn-block(href="#{context.url('/')}")
								i.fa.fa-chevron-left
								| &nbsp;#{messageSource.getMessage('sell.back',[],locale)}
						div.col-sm-4.col-sm-offset-4
							button.btn.btn-success.btn-block(type="submit") #{messageSource.getMessage('sell.ok',[],locale)}
					
					