div.tab-pane-content
	div.col-sm-12
		h1.page-header #{messageSource.getMessage('profile.account.title', [], locale)}
		form.form-horizontal(name="changeEmailForm", ng-submit="profile.changeEmail(changeEmailForm.$valid)", novalidate)
			div.form-group
				label.col-sm-2.control-label #{messageSource.getMessage('profile.account.form.name',[],locale)}
				div.col-sm-6
					p.form-control-static {{loggedUser.firstName}}
			div.form-group
				label.col-sm-2.control-label #{messageSource.getMessage('profile.account.form.lastName',[],locale)}
				div.col-sm-6
					p.form-control-static {{loggedUser.lastName}}
			div.form-group
				label.col-sm-2.control-label #{messageSource.getMessage('profile.account.form.username',[],locale)}
				div.col-sm-6
					p.form-control-static {{loggedUser.username}}
			div.form-group(ng-class="{ 'has-error': changeEmailForm.email.$invalid && !changeEmailForm.email.$pristine }")
				label.col-sm-2.control-label(for="email") #{messageSource.getMessage('profile.account.form.email',[],locale)}
				div.col-sm-6
					input.form-control#email(type="email", placeholder="#{messageSource.getMessage('profile.account.form.email',[],locale)}", name="email", ng-model="profile.user.email", required)
					p.help-block(ng-show="changeEmailForm.email.$error.required") Email is required
					p.help-block(ng-show="changeEmailForm.email.$invalid && !changeEmailForm.email.$pristine") Enter a valid email
			div.form-group(style="margin-top:40px")
				div.col-sm-4.col-sm-offset-2
					button.btn.btn-success.btn-block(ng-disabled="!changeEmailForm.$valid" type="submit") #{messageSource.getMessage('profile.account.form.update',[],locale)}