include ../mixins/home.jade
div.row
	div.col-sm-12.text-center
		div.row
			div.col-sm-12
				h1.main-headline #{messageSource.getMessage("index.headline", [], locale)}
				form.col-sm-offset-3#simple-search-form(ng-submit="index.performQuery()")
					div.form-group.col-sm-8
						input.form-control.input-lg#simple-search-input(type="text", placeholder="#{messageSource.getMessage('index.search', [], locale)}...", name="query", ng-model="index.query")
					div.form-group.col-sm-2
						button.btn.btn-default.btn-lg#quick-search(type="submit")
							i.fa.fa-search
							| &nbsp; #{messageSource.getMessage("index.search", [], locale)} &nbsp;
div.row.well#promociones
	div.col-sm-12
		h4(style="font-size:32px") #{messageSource.getMessage("index.promoted", [], locale)}
		div.carousel.slide(data-ride="carousel")#promotion-carousel
			div.carousel-inner#carousel-content
				div.item(ng-class="{active: $index == 0}", ng-repeat="(key, items) in home.compartments")
					div.col-sm-2(ng-repeat="item in items")
						a(ng-href="#!/store/items/{{item.id}}")
							div.promotion-image-container
								a(ng-href="#!/store/items/{{item.id}}")
									img(ng-src="http://placehold.it/200?text=Sin+Imagen", style="width:100%;height:auto", ng-if="!item.images.length")
									img(ng-src="data:image/png;base64,{{item.images[0].content}}", style="width:100%;height:auto", ng-if="item.images")
						a(ng-href="#!/store/items/{{item.id}}")
							b {{item.name}}
						br
						span ${{item.price.toFixed(2)}}
			a.left.carousel-control(href="#promotion-carousel", data-slide="prev", style='left:-30px')
				span.glyphicon.glyphicon-chevron-left
				span.sr-only #{messageSource.getMessage("item.carousel.previous", [], locale)}
			a.right.carousel-control(href="#promotion-carousel", data-slide="next", style='right:-30px')
				span.glyphicon.glyphicon-chevron-right
				span.sr-only #{messageSource.getMessage("item.carousel.next", [], locale)}
