div.tab-content
	if success
		div.alert.alert-success #{messageSource.getMessage('sell.edit.details.success',[],locale)}
	h1.page-header.text-center #{messageSource.getMessage('edit.headline',[],locale)} `{{edit.item.name}}`
	div.row
		div.col-sm-11
			form.form-horizontal(name="editForm", ng-submit="edit.submit(editForm.$valid)", novalidate)
				div.form-group(ng-class="{ 'has-error': editForm.name.$invalid && !editForm.name.$pristine }")
					label.col-sm-2.control-label(for="name") #{messageSource.getMessage('sell.field.name',[],locale)}
					div.col-sm-10
						input.form-control#name(type="text", name="name", placeholder="#{messageSource.getMessage('sell.field.name',[],locale)}", ng-model="edit.item.name", required, ng-minlength="4", ng-maxlength="100")
						p.help-block(ng-show="editForm.name.$error.required") Name is required
						p.help-block(ng-show="editForm.name.$error.minlength") Name is too short
						p.help-block(ng-show="editForm.name.$error.maxlength") Name is too long
				
				div.form-group(ng-class="{ 'has-error': edit.description.$invalid && !edit.description.$pristine }")
					label.col-sm-2.control-label(for="description") #{messageSource.getMessage('sell.field.description',[],locale)}
					div.col-sm-10
						textarea.form-control#description(name="description", placeholder="#{messageSource.getMessage('sell.field.description',[],locale)}", ng-model="edit.item.description", rows="8") {{edit.item.description}}
				
				div.form-group(ng-class="{ 'has-error': editForm.price.$invalid && !editForm.price.$pristine }")
					label.col-sm-2.control-label(for="price") #{messageSource.getMessage('sell.field.price',[],locale)}
					div.col-sm-10
						div.input-group
							span.input-group-addon $
							input.form-control(type="number", id="price", name="price", placeholder="#{messageSource.getMessage('sell.field.price',[],locale)}", ng-min="0", ng-step="0.01", ng-model="edit.item.price", required)
						p.help-block(ng-show="editForm.price.$error.required") Price is required
						p.help-block(ng-show="editForm.price.$error.min") Price can't be negative
						p.help-block(ng-show="editForm.price.$error.step") Price should have up to 2 decimal places
				
				div.form-group
					label.col-sm-2.control-label(for="category") #{messageSource.getMessage('sell.field.category',[],locale)}
					div.col-sm-10
						div#category-browser
							div
								div.category-card.visible(ng-repeat="c in edit.categoryPath")
									ul.list-unstyled
										li(ng-repeat="category in c", ng-class='{ active: _.includes(edit.highlighted, category.id) || edit.selectedCategory.id === category.id }')
											a(ng-click="edit.selectCategory(category, $parent.$index + 1)") {{category.name}}
								div.category-card.text-center#success-card(ng-class='{visible: edit.selectedCategory }')
									span.text-muted #{messageSource.getMessage('edit.details.categoryChosen',[],locale)}
									br
									span.h4#category-name {{edit.selectedCategory.name}}	
						//-mixin categories(categories, depth)
							if !categories.isEmpty()
								div.category-card(class=(depth==0?' visible':''), data-parent=categories.iterator().next().parent.id)
									ul.list-unstyled
										each category in categories
											li(class=(item && item.categoryId == category.id ? 'active': ''))
												a(href="#", data-id=category.id, class=category.id) #{category.name}
							each category in categories
								+categories(category.children, depth+1)
						//-div#category-browser
							div
								//-+categories(categories, 0)
								div.category-card.text-center#success-card
									span.text-muted #{messageSource.getMessage('edit.details.categoryChosen',[],locale)}
									br
									span.h4#category-name
							+errors(bindingResult, 'category')
				div.form-group(ng-class="{ 'has-error': editForm.used.$invalid && !editForm.used.$pristine }")
					label.col-sm-2.control-label(for="used") #{messageSource.getMessage('sell.field.status.title',[],locale)}
					div.col-sm-10
						label.radio-inline
							input#used(type="radio", name="used", ng-value="true", ng-model="edit.item.used")
							| #{messageSource.getMessage('sell.field.status.used',[],locale)}
						label.radio-inline
							input#new(type="radio", name="used", ng-value="false", ng-model="edit.item.used")
							| #{messageSource.getMessage('sell.field.status.new',[],locale)}

				//-div.form-group(class="#{bindingResult.hasFieldErrors('used')?'has-error':''}")
					label.col-sm-2.control-label(for="used") #{messageSource.getMessage('sell.field.status.title',[],locale)}
					div.col-sm-10
						div.btn-group(data-toggle="buttons")
							label.btn.btn-primary(class="#{item.used?'active':''}")
								input(type="radio", name="used", id="used", value="1", checked=item.used)
								span #{messageSource.getMessage('sell.field.status.used',[],locale)}
							label.btn.btn-primary(class="#{item.used?'':'active'}")
								input(type="radio", name="used", value="0", checked=!item.used)
								span #{messageSource.getMessage('sell.field.status.new',[],locale)}
						+errors(bindingResult, 'used')
				//-input(type="hidden", name="itemStatus", value=item.status.toString())
				div.form-group
					div.col-sm-4.col-sm-offset-8
						button.btn.btn-success.btn-block(type="submit", ng-disabled="!editForm.$valid") #{messageSource.getMessage('edit.action',[],locale)}