div.tab-pane-content
	h1.page-header #{messageSource.getMessage('profile.favourites.title',[],locale)}
	div.tab-content
		div.tab-pane.fade.in.active(id='favourites')
			table.table.table-striped.table-condensed
				thead
					tr
						th(colspan=2)
							include profile_modifiers_favourites
						th(colspan=1)
							div.input-group.input-group-sm(style="width:100%")
								span.input-group-addon
									i.fa.fa-search
								input.form-control#query-input(type="text", placeholder="#{messageSource.getMessage('profile.favourites.table.search',[],locale)}", ng-model="profile.favouritesQuery.query", ng-change="profile.updateFavouritesQuery({})")
					tr
						th(colspan=2) #{messageSource.getMessage('profile.favourites.table.item',[],locale)}
						th
						//-th #{messageSource.getMessage('profile.favourites.table.seller',[],locale)}
				tbody
					tr.info(ng-if="!profile.favouritesResult.results.length")
						td(colspan=3)
							div.alert.alert-info #{messageSource.getMessage('profile.sales.nothing',[],locale)}
					tr(ng-repeat="fav in profile.favouritesResult.results")
						td(style="width:40px")
							a(href='#!/store/items/{{fav.item.id}}')
								img.table-img(ng-if="!fav.item.images.length", style="width:40px;height:40px", ng-src="http://placehold.it/40?text=Sin+Imagen")
								img.table-img(ng-if="fav.item.images.length", style="width:40px;height:40px", ng-src="data:image/png;base64,{{fav.item.images[0].content}}")
						td
							a(href='#!/store/items/{{fav.item.id}}') {{fav.item.name}}
							br
							span(style="color:#900;font-weight:500") $ {{fav.item.price}}
							span &nbsp;- 
							span.text-muted {{fav.item.sold}} #{messageSource.getMessage('profile.items.table.sold',[],locale)}
						th.center-vertical
							button.btn.btn-xs.btn-danger.remove-fav.pull-right(ng-click="profile.removeFavourite(fav.id)")
								i.fa.fa-trash
								span &nbsp;#{messageSource.getMessage('delete',[],locale)}

							//-td.center-vertical
								span #{fav.item.owner.username}
			ul.pager#filter-page(ng-if="profile.favouritesResult.numberOfTotalResults > 0")
				li.previous(ng-class="{disabled: profile.favouritesResult.currentPage === 0}")
					a.filter-page-action(ng-click="profile.updateFavouritesQuery({ pageNumber: 0 })")
						span &larr;
						span #{messageSource.getMessage('search.filters.pagination.pagers.first', [], locale)}
				
				li.pre(ng-class="{disabled: profile.favouritesResult.currentPage === 0}")
					a.filter-page-action(ng-click="profile.updateFavouritesQuery({ pageNumber: profile.favouritesResult.currentPage - 1 })") #{messageSource.getMessage('search.filters.pagination.pagers.previous', [], locale)}
				
				li.ne(ng-class="{disabled: profile.favouritesResult.currentPage === Math.floor(profile.favouritesResult.numberOfTotalResults / profile.favouritesResult.pageSize)}")
					a.filter-page-action(ng-click="profile.updateFavouritesQuery({ pageNumber: profile.favouritesResult.currentPage + 1 })") #{messageSource.getMessage('search.filters.pagination.pagers.next', [], locale)}
				
				li.next(ng-class="{disabled: profile.favouritesResult.currentPage === Math.floor(profile.favouritesResult.numberOfTotalResults / profile.favouritesResult.pageSize)}")
					a.filter-page-action(ng-click="profile.updateFavouritesQuery({ pageNumber: Math.floor(profile.favouritesResult.numberOfTotalResults / profile.favouritesResult.pageSize) })")
						span #{messageSource.getMessage('search.filters.pagination.pagers.last', [], locale)}
						span &rarr;