div#filters
	div.filter-content(ng-if="all.itemsQuery.minPrice || all.itemsQuery.maxPrice || all.displayedCategories.length")
		div.filter-header
			h6.filter-title #{messageSource.getMessage('search.filters.applied')}
		div.filter-body
			div.applied-filter(ng-show="all.itemsQuery.minPrice && all.itemsQuery.maxPrice")
				button.close(ng-click="all.updateItemsQuery({pageNumber: 0, minPrice: null, maxPrice: null})") &times;
				span #{messageSource.getMessage('search.filters.price.between', 'all.itemsQuery', locale)}
			div.applied-filter(ng-show="all.itemsQuery.minPrice && !all.itemsQuery.maxPrice")
				button.close(ng-click="all.updateItemsQuery({pageNumber: 0, minPrice: null})") &times;
				span #{messageSource.getMessage('search.filters.price.from', 'all.itemsQuery', locale)}
			div.applied-filter(ng-show="!all.itemsQuery.minPrice && all.itemsQuery.maxPrice")
				button.close(ng-click="all.updateItemsQuery({pageNumber: 0, maxPrice: null})") &times;
				span #{messageSource.getMessage('search.filters.price.to', 'all.itemsQuery', locale)}
			div.applied-filter(ng-repeat="category in all.displayedCategories")
				button.close(ng-click="all.removeCategory(category)") &times;
				span {{category.name}}
	div.filter-content
		div.filter-header
			h6.filter-title #{messageSource.getMessage('search.filters.price', [], locale)}
		div.filter-body
			div.row
				div.col-sm-5
					input.input-sm.form-control#filter-price-min(type="number", placeholder="#{messageSource.getMessage('search.filters.price.min', [], locale)}", min=0, step=1, ng-model="all.itemsQuery.minPrice", ng-change="all.updateItemsQuery({pageNumber:0})")
				div.col-sm-2.text-center
					span.separator -
				div.col-sm-5
					input.input-sm.form-control#filter-price-max(type="number", placeholder="#{messageSource.getMessage('search.filters.price.max', [], locale)}", min=0, step=1, ng-model="all.itemsQuery.maxPrice", ng-change="all.updateItemsQuery({pageNumber:0})")
	div.filter-content#category-filter(ng-if="all.itemResult.similarCategories.length")
		div.filter-header
			h6.filter-title #{messageSource.getMessage('search.filters.categories', [], locale)}
		div.filter-body
			div
				div(ng-repeat="category in all.itemResult.similarCategories")
					label.parent-label(ng-if="all.displayedCategories.length > 1 && ($first || all.itemResult.similarCategories[$index - 1].parent !== category.parent)") {{all.displayedCategoriesG[category.parent].name}}
					div.checkbox(ng-class="{padding: all.displayedCategories.length > 1}")
						label
							input(type="checkbox", name="categories", ng-checked="_.find(all.selectedCategories, {id: category.id})", ng-click="all.toggleCategory(category)")
							| {{category.name}}
			button.btn.btn-primary.btn-xs.col-sm-6.col-sm-offset-6#category-filter-button(type="button", ng-click="all.applyCategory()") #{messageSource.getMessage('search.filters.categories.apply', [], locale)}