div.tab-pane-content
	h1.page-header #{messageSource.getMessage('profile.items.title',[],locale)}
	ul.nav.nav-tabs#itemsTab
		li(class=status.toString().equals('ANY')?'active':'')
			a(href=context.url('/profile/items/all')) #{messageSource.getMessage('profile.items.all',[],locale)}
		li(class=status.toString().equals('ACTIVE')?'active':'')
			a(href=context.url('/profile/items/active')) #{messageSource.getMessage('profile.items.active',[],locale)}
		li(class=status.toString().equals('PAUSED')?'active':'')
			a(href=context.url('/profile/items/paused')) #{messageSource.getMessage('profile.items.paused',[],locale)}
		li(class=status.toString().equals('UNPUBLISHED')?'active':'')
			a(href=context.url('/profile/items/drafts')) #{messageSource.getMessage('profile.items.drafts',[],locale)}
	div.tab-content
		div.tab-pane.fade.in.active(id='items-'+status.toString().toLowerCase())
			table.table.table-striped.table-condensed
				thead
					tr
						th(colspan=3)
							include profile_modifiers
						th(colspan=1)
							div.input-group.input-group-sm(style="width:100%")
								span.input-group-addon
									i.fa.fa-search
								input.form-control#query-input(type="text", placeholder="#{messageSource.getMessage('profile.items.table.search',[],locale)}", value=filter.termFilter.term.orElse(''))
					tr
						th(colspan=2) #{messageSource.getMessage('profile.items.table.item',[],locale)}
						th #{messageSource.getMessage('profile.items.table.edit',[],locale)}
						th #{messageSource.getMessage('profile.items.table.status',[],locale)}
				tbody
					if items.numberOfTotalResults == 0
						tr.info
							td(colspan=4)
								div.alert #{messageSource.getMessage('profile.sales.nothing',[],locale)}
					each item in items.results
						tr(data-id=item.id)
							td(style="width:40px")
								a(href=context.url('/store/items/'+item.id))
									if item.images.isEmpty()
										img.table-img(style="width:40px;height:40px" src="http://placehold.it/40?text=Sin+Imagen")
									else
										img.table-img(style="width:40px;height:40px" src="#{context.url('/images/get/'+item.images.iterator().next().id)}")
							td
								a(href=context.url('/store/items/'+item.id)) #{item.name}
								br
								span(style="color:#900;font-weight:500") $ #{item.price}
								if !item.status.toString().equals('UNPUBLISHED')
									span &nbsp;- 
									span.text-muted #{item.sold} #{messageSource.getMessage('profile.items.table.sold',[],locale)}
							td.center-vertical
								a(href="#{context.url('/store/item/'+item.id+'/details')}", title="#{messageSource.getMessage('profile.items.table.edit',[],locale)}")
									i.fa.fa-pencil
									span &nbsp;#{messageSource.getMessage('profile.items.table.edit',[],locale)}
							td.center-vertical
								if item.status.toString() == 'PAUSED'
									button.btn.btn-success.btn-xs.toggle-item-state
										i.fa.fa-play
										span &nbsp;#{messageSource.getMessage('profile.items.table.resume',[],locale)}
								else if item.status.toString() == 'UNPUBLISHED'
									button.btn.btn-success.btn-xs.publish #{messageSource.getMessage('profile.items.table.publish',[],locale)}
								else
									button.btn.btn-default.btn-xs.toggle-item-state
										i.fa.fa-pause
										span &nbsp;#{messageSource.getMessage('profile.items.table.pause',[],locale)}
			ul.pager#filter-page(data-page="#{items.currentPage}", data-last-page="#{items.numberOfTotalResults/items.pageSize}")
				li.previous(class="#{items.currentPage==0?'disabled':''}")
					a.filter-page-action(href="#")
						span &larr;
						span #{messageSource.getMessage('search.filters.pagination.pagers.first', [], locale)}
				li.pre(class="#{items.currentPage==0?'disabled':''}")
					a.filter-page-action(href="#") #{messageSource.getMessage('search.filters.pagination.pagers.previous', [], locale)}
				li.ne(class="#{items.currentPage==items.numberOfTotalResults/items.pageSize?'disabled':''}")
					a.filter-page-action(href="#") #{messageSource.getMessage('search.filters.pagination.pagers.next', [], locale)}
				li.next(class="#{items.currentPage==items.numberOfTotalResults/items.pageSize?'disabled':''}")
					a.filter-page-action(href="#")
						span #{messageSource.getMessage('search.filters.pagination.pagers.last', [], locale)}
						span &rarr;