div.tab-pane-content
	if passSuccess
		div.col-sm-12
			div.alert.alert-success
				b #{messageSource.getMessage('successMessages.changePassword.title', [], locale)}!&nbsp;
				span #{messageSource.getMessage('successMessages.changePassword.content', [], locale)}
	div.col-sm-12
		h1.page-header #{messageSource.getMessage('profile.password.title', [], locale)}
		form.form-horizontal(name="changePasswordForm", ng-submit="profile.changePassword(changePasswordForm.$valid)", novalidate)
			
			div.form-group
				label.col-sm-2.control-label #{messageSource.getMessage('profile.password.form.current',[],locale)}
				div.col-sm-6
					input.form-control(type="password", placeholder="#{messageSource.getMessage('profile.password.form.current',[],locale)}", name="oldPassword", ng-model="profile.pass.oldPassword")
					
			
			div.form-group(ng-class="{ 'has-error': changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine }")
				label.col-sm-2.control-label #{messageSource.getMessage('profile.password.form.new',[],locale)}
				div.col-sm-6
					input.form-control#password-field(type="password", placeholder="#{messageSource.getMessage('profile.password.form.new',[],locale)}", name="password", required, ng-minlength="4", ng-maxlength="100", ng-model="profile.pass.password")
					p.help-block(ng-show="changePasswordForm.password.$error.required") #{messageSource.getMessage('register.form.passwordRequired',[],locale)}
					p.help-block(ng-show="changePasswordForm.password.$error.minlength") #{messageSource.getMessage('register.form.passwordShort',[],locale)}
					p.help-block(ng-show="changePasswordForm.password.$error.maxlength") #{messageSource.getMessage('register.form.passwordLong',[],locale)}
					
			
			div.form-group(ng-class="{ 'has-error': changePasswordForm.repeatPassword.$invalid && !changePasswordForm.repeatPassword.$pristine }")
				label.col-sm-2.control-label #{messageSource.getMessage('profile.password.form.repeat',[],locale)}
				div.col-sm-6
					input.form-control(type="password", placeholder="#{messageSource.getMessage('profile.password.form.repeat',[],locale)}", name="repeatPassword", pw-check='password-field', ng-model="profile.pass.repeatPassword")
					p.help-block(ng-show="changePasswordForm.repeatPassword.$error.pwmatch") #{messageSource.getMessage('register.form.passwordMatch',[],locale)}
					
			
			div.form-group
				div.col-sm-4.col-sm-offset-2
					button.btn.btn-success.btn-block(ng-disabled="!changePasswordForm.$valid" type="submit") #{messageSource.getMessage('profile.account.form.update',[],locale)}