div.modifier
	span.modifier-title #{messageSource.getMessage('search.filters.pagination.modifiers.amount', [], locale)}:&nbsp;
	span.modifier-content {{profile.purchasesResult.numberOfAvailableResults != 0 ? profile.purchasesResult.currentPage * profile.purchasesResult.pageSize + 1 : 0}} - {{profile.purchasesResult.currentPage * profile.purchasesResult.pageSize + profile.purchasesResult.numberOfAvailableResults}}
	span.modifier-title &nbsp;#{messageSource.getMessage('search.filters.pagination.modifiers.of', [], locale)}&nbsp;
	b {{profile.purchasesResult.numberOfTotalResults}}
div.modifier#modifier-page-size
	span.modifier-title #{messageSource.getMessage('search.filters.pagination.modifiers.showing', [], locale)}&nbsp;
	a.modifier-option(ng-class="{selected: profile.purchasesResult.pageSize === 20}", ng-click="profile.updatePurchasesQuery({pageNumber: 0, pageSize: 20})")
		b(ng-show="profile.purchasesResult.pageSize === 20") 20
		span(ng-show="profile.purchasesResult.pageSize !== 20") 20
	div.space
	a.modifier-option(ng-class="{selected: profile.purchasesResult.pageSize === 40}", ng-click="profile.updatePurchasesQuery({pageNumber: 0, pageSize: 40})")
		b(ng-show="profile.purchasesResult.pageSize === 40") 40
		span(ng-show="profile.purchasesResult.pageSize !== 40") 40
	div.space
	a.modifier-option(ng-class="{selected: profile.purchasesResult.pageSize === 100}", ng-click="profile.updatePurchasesQuery({pageNumber: 0, pageSize: 100})")
		b(ng-show="profile.purchasesResult.pageSize === 100") 100
		span(ng-show="profile.purchasesResult.pageSize !== 100") 100
	div.space
	a.modifier-option(ng-class="{selected: profile.purchasesResult.pageSize === 200}", ng-click="profile.updatePurchasesQuery({pageNumber: 0, pageSize: 200})")
		b(ng-show="profile.purchasesResult.pageSize === 200") 200
		span(ng-show="profile.purchasesResult.pageSize !== 200") 200
	span.modifier-title &nbsp; #{messageSource.getMessage('search.filters.pagination.modifiers.perPage', [], locale)}
div.modifier#modifier-order
	span.modifier-title #{messageSource.getMessage('search.filters.order.by', [], locale)}:&nbsp;
	select.form-control.input-xs#modifier-order-input(ng-model="profile.purchasesOrder", ng-change="profile.onPurchasesOrderChange()")
		option(value="PRICE-ASC") #{messageSource.getMessage('search.filters.order.priceAsc', [], locale)}
		option(value="PRICE-DESC") #{messageSource.getMessage('search.filters.order.priceDesc', [], locale)}
		option(value="CREATED-ASC") #{messageSource.getMessage('search.filters.order.recentAsc', [], locale)}
		option(value="CREATED-DESC") #{messageSource.getMessage('search.filters.order.recentDesc', [], locale)}