div.tab-pane-content
	h1.page-header #{messageSource.getMessage('profile.sales.title',[],locale)}
	ul.nav.nav-tabs#itemsTab
		li(ng-class='{active: profile.salesQuery.status === "PENDING"}')
			a(ng-click="profile.updateSalesQuery({pageNumber: 0, status:'PENDING'})") #{messageSource.getMessage('profile.sales.pending',[],locale)}
		li(ng-class='{active: profile.salesQuery.status === "APPROVED"}')
			a(ng-click="profile.updateSalesQuery({pageNumber: 0, status:'APPROVED'})") #{messageSource.getMessage('profile.sales.approved',[],locale)}
		li(ng-class='{active: profile.salesQuery.status === "DECLINED"}')
			a(ng-click="profile.updateSalesQuery({pageNumber: 0, status:'DECLINED'})") #{messageSource.getMessage('profile.sales.declined',[],locale)}
	div.tab-content
		div.tab-pane.fade.in.active(id='sales-active')
			table.table.table-striped.table-condensed
				thead
					tr
						th(colspan=5)
							include profile_modifiers_sales
						th(colspan=1)
							div.input-group.input-group-sm(style="width:100%")
								span.input-group-addon
									i.fa.fa-search
								input.form-control#query-input(type="text", placeholder="#{messageSource.getMessage('profile.sales.table.search',[],locale)}", ng-model="profile.salesQuery.query", ng-change="profile.updateSalesQuery({})")
					tr
						th #{messageSource.getMessage('profile.sales.table.date',[],locale)}
						th #{messageSource.getMessage('profile.sales.table.item',[],locale)}
						th 
						th
						th #{messageSource.getMessage('profile.sales.table.buyer',[],locale)}
						th
							span(ng-show="profile.salesQuery.status !== 'PENDING'") #{messageSource.getMessage('profile.sales.table.score',[],locale)}
				tbody
					tr.info(ng-show="profile.salesResult.numberOfTotalResults === 0")
						td(colspan="{{profile.salesQuery.status === 'PENDING' ? 6 : 6}}")
							div.alert #{messageSource.getMessage('profile.sales.nothing',[],locale)}
					tr.p(ng-repeat="transaction in profile.salesResult.results")
						td.center-vertical {{transaction.created | amDateFormat: 'L LT'}}
						td(style="width:40px")
							img.table-img(ng-if="!transaction.item.images.length", style="width:40px;height:40px", ng-src="http://placehold.it/40?text=Sin+Imagen")
							img.table-img(ng-if="transaction.item.images.length", style="width:40px;height:40px", ng-src="data:image/png;base64,{{transaction.item.images[0].content}}")
						td
							a(ng-href='#!/store/items/{{transaction.item.id}}') {{transaction.item.name}}
							br
							span(style="color:#900") ${{transaction.item.price}}
						td.center-vertical
							i.fa.fa-3x.fa-long-arrow-right(ng-class='{"text-success": profile.salesQuery.status === "APPROVED", "text-danger": profile.salesQuery.status === "DECLINED"}')
						td
							b
								a(href='#!/id/{{transaction.buyer.username}}/buyer') {{transaction.buyer.firstName}} {{transaction.buyer.lastName}}
							br
							span.text-muted {{transaction.buyer.username}} ({{transaction.buyer.email}})
						//-if transaction.status.toString().equals('PENDING')
						td.center-vertical(ng-show="transaction.status === 'PENDING'")
							button.btn.btn-success.decide-transaction.btn-xs(ng-bootbox-confirm="#{messageSource.getMessage('profile.sales.sell.yesSell')}", ng-bootbox-confirm-action="profile.approveSale(transaction)", ng-show="transaction.status !== 'DECLINED'")
								i.fa-2x.glyphicon.glyphicon-ok
								span(ng-show="transaction.status === 'APPROVED'") &nbsp;#{messageSource.getMessage('profile.sales.sell.approved')}
							// #{messageSource.getMessage('profile.sales.success',[],locale)}
							| &nbsp;
							button.btn.btn-danger.decide-transaction.btn-xs(ng-bootbox-confirm="#{messageSource.getMessage('profile.sales.sell.noSell')}", ng-bootbox-confirm-action="profile.declineSale(transaction)", ng-show="transaction.status !== 'APPROVED'")
								i.fa-2x.glyphicon.glyphicon-remove
								span(ng-show="transaction.status === 'DECLINED'") &nbsp;#{messageSource.getMessage('profile.sales.sell.rejected')}
							// #{messageSource.getMessage('profile.sales.danger',[],locale)}
						//-else
						td.center-vertical(ng-show="transaction.status !== 'PENDING'")
							button.btn.btn-default.btn-xs.show-scores(ng-bootbox-title="#{messageSource.getMessage('profile.modal.scores.title', [], locale)}", ng-bootbox-custom-dialog, ng-bootbox-custom-dialog-template="/views/ScoreCtrl.html", ng-click="profile.showScoresAsSeller(transaction)") #{messageSource.getMessage('profile.sales.seeScores',[],locale)}
							//- button.btn.btn-default.btn-xs.show-scores(data-s-rating=transaction.sellerReview, data-b-rating=transaction.buyerReview) #{messageSource.getMessage('profile.sales.seeScores',[],locale)}
								//-if !transaction.sellerReview
									button.btn.btn-default.btn-xs Puntuar
									else
										span(data-toggle="tooltip", data-placement="top", title=transaction.sellerReview.comment) #{transaction.sellerReview.rating}
								//-td.center-vertical
									if !transaction.buyerReview
										span -
									else
										button.btn-xs.btn.btn-default Ver Puntaje
										span(data-toggle="tooltip", data-placement="top", title=transaction.sellerReview.comment) #{transaction.buyerReview.rating}
						//-td #{item.sold} #{messageSource.getMessage('profile.items.table.sold',[],locale)}
						//-td #{item.created}
						//-td #{item.lastUpdated}
						//-td
							a(href="#{context.url('/store/item/'+item.id+'/details')}", title="#{messageSource.getMessage('profile.items.table.edit',[],locale)}") #{messageSource.getMessage('profile.items.table.edit',[],locale)}
			ul.pager#filter-page
				li.previous(ng-class="{disabled: profile.salesResult.currentPage === 0}")
					a.filter-page-action(ng-click="profile.updateItemsQuery({ pageNumber: 0 })")
						span &larr;
						span #{messageSource.getMessage('search.filters.pagination.pagers.first', [], locale)}
				
				li.pre(ng-class="{disabled: profile.salesResult.currentPage === 0}")
					a.filter-page-action(ng-click="profile.updateItemsQuery({ pageNumber: profile.salesResult.currentPage - 1 })") #{messageSource.getMessage('search.filters.pagination.pagers.previous', [], locale)}
				
				li.ne(ng-class="{disabled: profile.salesResult.currentPage === Math.floor(profile.salesResult.numberOfTotalResults / profile.salesResult.pageSize)}")
					a.filter-page-action(ng-click="profile.updateItemsQuery({ pageNumber: profile.salesResult.currentPage + 1 })") #{messageSource.getMessage('search.filters.pagination.pagers.next', [], locale)}
				
				li.next(ng-class="{disabled: profile.salesResult.currentPage === Math.floor(profile.salesResult.numberOfTotalResults / profile.salesResult.pageSize)}")
					a.filter-page-action(ng-click="profile.updateItemsQuery({ pageNumber: Math.floor(profile.salesResult.numberOfTotalResults / profile.salesResult.pageSize) })")
						span #{messageSource.getMessage('search.filters.pagination.pagers.last', [], locale)}
						span &rarr;