mixin navbar(search)
	header.navbar.navbar-fixed-top#top-navbar
		div.container
			div.navbar-header
				button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#main-navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#{context.url('/')}", style="font-size:2em")
					i.fa.fa-shopping-basket
					| &nbsp;SIGLAS
			nav.collapse.navbar-collapse#navbar-content
				ul.nav.navbar-nav.navbar-right
					if !loggedUser
						li
							a(href="#{context.url('/auth/register')}") #{messageSource.getMessage('index.register', [], locale)}
						li
							a(href="#{context.url('/auth/login?next='+currentURI)}") #{messageSource.getMessage('index.login', [], locale)}
					li
						a(href="#{context.url('/store/sell/details')}") #{messageSource.getMessage('index.sell', [], locale)}
					if loggedUser
							li#favourite-dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown", title="#{messageSource.getMessage('index.favourite.title',[],locale)}")
									i.fa.fa-heart
									span.caret
								ul.dropdown-menu.dropdown-favourite
									if !userFavourites.isEmpty()
										li
											span.fav-title #{messageSource.getMessage('index.favourite.title',[],locale)}
									else
										li
											a #{messageSource.getMessage('index.favourite.empty',[],locale)}
									each favourite in userFavourites
										li
											span.item
												span.item-left
													a(href="#{context.url('/store/items/'+favourite.id)}")
														if favourite.images.isEmpty()
															img(src="http://placehold.it/80x80")
														else
															img(src="#{context.url('/images/get/'+favourite.images.iterator().next().id)}")
													span.item-info
														a(href="#{context.url('/store/items/'+favourite.id)}")
															span #{favourite.name}
														span.price $#{favourite.price}
												span.item-right(title="#{messageSource.getMessage('index.favourite.remove',[],locale)}")
													button.btn.btn-xs.btn-danger.pull-right.remove-fav(data-id="#{favourite.id}") x
							li
								a.dropdown-toggle(href="#", data-toggle="dropdown")
									span #{loggedUser.firstName} #{loggedUser.lastName}&nbsp;
									span.caret
								ul.dropdown-menu
									li
										a(href="#{context.url('/profile/details')}") #{messageSource.getMessage('index.user.profile',[],locale)}
									li
										a(href="#{context.url('/profile/details#items')}") #{messageSource.getMessage('index.user.items',[],locale)}
									li.separator
									li
										a(href="#{context.url('/auth/logout')}") #{messageSource.getMessage('index.user.logout',[],locale)}
				if search
					form.navbar-form#navbar-search(action="#{context.url('/store/items/all')}")
						div.form-group(style="width:50%")
							div.input-group
								input.form-control#navbar-query-input(type="text", placeholder="#{messageSource.getMessage('index.search',[],locale)}...", style="width:100%", name="query", value="#{query!=null?query:''}")
								span.input-group-btn(style="width:1%")
									button.btn.btn-default(type="submit")
										i.fa.fa-search