mixin product(item)
	div.col-sm-3.store-item
		div.product-container
			a(href="#{context.url('/store/items/'+item.id)}")
				div.image-container
					if item.images.isEmpty()
						img(src="http://placehold.it/200?text=Sin+Imagen", style="width:100%;height:auto")
					else
						img(src="#{context.url('/images/get/'+item.images.iterator().next().id)}", style="width:100%;height:auto")
			a.product-title(href="#{context.url('/store/items/'+item.id)}", title="#{item.name}")
				b #{item.name}
			p.product-description(title="#{item.description}") #{item.description}
			div.rating.static(style="font-size:13px;", data-rate-value=item.rating)
			span.product-price $ #{item.price}
