extends layouts/layout

block content
	+navbar(false)
	div.container-fluid
		div.row
			div.col-sm-3
				include partials/admin_sidebar
			div.col-sm-9
				h1 #{messageSource.getMessage('admin.users.create.headline',[],locale)}
				div.row
					div.col-sm-11
						form.form-horizontal(action="#{context.url('/admin/users/create')}", method="POST")
							div.form-group(class="#{result.hasFieldErrors('firstName')?'has-error':''}")
								label.control-label.col-sm-2(for="firstName") #{messageSource.getMessage('admin.users.create.name',[],locale)}
								div.col-sm-10
									input.form-control#firstName(type="text", placeholder="#{messageSource.getMessage('admin.users.create.name',[],locale)}", name="firstName", value="#{user.firstName?user.firstName:''}")
									+errors(result, 'firstName')
							div.form-group(class="#{result.hasFieldErrors('lastName')?'has-error':''}")
								label.control-label.col-sm-2(for="lastName") #{messageSource.getMessage('admin.users.create.lastName',[],locale)}
								div.col-sm-10
									input.form-control#lastName(type="text", placeholder="#{messageSource.getMessage('admin.users.create.lastName',[],locale)}", name="lastName", value="#{user.lastName?user.lastName:''}")
									+errors(result, 'lastName')
							div.form-group(class="#{result.hasFieldErrors('email')?'has-error':''}")
								label.control-label.col-sm-2(for="email") #{messageSource.getMessage('admin.users.create.email',[],locale)}
								div.col-sm-10
									input.form-control#email(type="text", placeholder="#{messageSource.getMessage('admin.users.create.email',[],locale)}", name="email", value="#{user.email?user.email:''}")
									+errors(result, 'email')
							div.form-group(class="#{result.hasFieldErrors('username')?'has-error':''}")
								label.control-label.col-sm-2(for="username") #{messageSource.getMessage('admin.users.create.username',[],locale)}
								div.col-sm-10
									input.form-control#username(type="text", placeholder="#{messageSource.getMessage('admin.users.create.username',[],locale)}", name="username", value="#{user.username?user.username:''}")
									+errors(result, 'username')
							div.form-group(class="#{result.hasFieldErrors('password')?'has-error':''}")
								label.control-label.col-sm-2(for="password") #{messageSource.getMessage('admin.users.create.password',[],locale)}
								div.col-sm-10
									input.form-control#password(type="password", placeholder="#{messageSource.getMessage('admin.users.create.password',[],locale)}", name="password", value="#{user.password?user.password:''}")
									+errors(result, 'password')
							div.form-group(class="#{result.hasFieldErrors('repeatPassword')?'has-error':''}")
								label.control-label.col-sm-2(for="repeatPassword") #{messageSource.getMessage('admin.users.create.repeatPassword',[],locale)}
								div.col-sm-10
									input.form-control#repeatPassword(type="password", placeholder="#{messageSource.getMessage('admin.users.create.repeatPassword',[],locale)}", name="repeatPassword", value="#{user.repeatPassword?user.repeatPassword:''}")
									+errors(result, 'repeatPassword')
							div.form-group(class="#{result.hasFieldErrors('role')?'has-error':''}")
								label.control-label.col-sm-2(for="role") #{messageSource.getMessage('admin.users.create.mainRole',[],locale)}
								div.col-sm-10
									select.form-control#role(name="role")
										each role in roles
											option(value="#{role.id}") #{role.roleName}
									+errors(result, 'role')
							div.form-group
									div.col-sm-12
										button.btn.btn-success.btn-block(type="submit") #{messageSource.getMessage('admin.users.create.headline',[],locale)}
