extends layouts/layout

block content
	include mixins/product
	+navbar(true)
	div.container
		div.backdrop(ng-class="{show: all.itemsLoading}")
			div.spinner-loader Loading...
		div.row#search-container
			div.col-sm-12#search-title
				h1 #{messageSource.getMessage('search.searchResults', [], locale)}&nbsp;
					i #{query}
			div.col-sm-12
				include partials/modifiers
			div.col-sm-2(style="padding:5px")
				include partials/filters
			div.col-sm-10
				div.row#product-grid
					h3.text-warning(ng-if="!all.itemResult.results.length") #{messageSource.getMessage('search.none',[],locale)}
					div.col-sm-3.store-item(ng-repeat="item in all.itemResult.results")
						div.product-container
							a(href="#!/store/items/{{item.id}}")
								div.image-container
									img(ng-if="!item.images.length", ng-src="http://placehold.it/200?text=Sin+Imagen", style="width:100%;height:auto")
									img(ng-if="item.images.length", ng-src="data:image/png;base64,{{item.images[0].content}}", style="width:100%;height:auto")
							a.product-title(href="#!/store/items/{{item.id}}", title="{{item.name}}")
								b {{item.name}}
							p.product-description(title="{{item.description}}") {{item.description}}
							div(star-rating, ng-model="item.rating", readonly="true", ng-class='{worst: item.rating <= 1, bad: 1 < item.rating && item.rating <= 2, ok: 2 < item.rating && item.rating <= 3, good: 3 < item.rating && item.rating <= 4, great: 4 < item.rating && item.rating <= 5}')
							span.product-price $ {{item.price.toFixed(2)}}
				div.row
					div.col-sm-12
						ul.pager#filter-page
							li.previous(ng-class="{disabled: all.itemResult.currentPage === 0}")
								a.filter-page-action(ng-click="all.updateItemsQuery({ pageNumber: 0 })")
									span &larr;
									span #{messageSource.getMessage('search.filters.pagination.pagers.first', [], locale)}
							
							li.pre(ng-class="{disabled: all.itemResult.currentPage === 0}")
								a.filter-page-action(ng-click="all.updateItemsQuery({ pageNumber: all.itemResult.currentPage - 1 })") #{messageSource.getMessage('search.filters.pagination.pagers.previous', [], locale)}
							
							li.ne(ng-class="{disabled: all.itemResult.currentPage === Math.floor(all.itemResult.numberOfTotalResults / all.itemResult.pageSize)}")
								a.filter-page-action(ng-click="all.updateItemsQuery({ pageNumber: all.itemResult.currentPage + 1 })") #{messageSource.getMessage('search.filters.pagination.pagers.next', [], locale)}
							
							li.next(ng-class="{disabled: all.itemResult.currentPage === Math.floor(all.itemResult.numberOfTotalResults / all.itemResult.pageSize)}")
								a.filter-page-action(ng-click="all.updateItemsQuery({ pageNumber: Math.floor(all.itemResult.numberOfTotalResults / all.itemResult.pageSize) })")
									span #{messageSource.getMessage('search.filters.pagination.pagers.last', [], locale)}
									span &rarr;