extends layouts/layout

block content
	+navbar(true)
	div.container#edit-container
		div.row
			div.col-sm-3
				ul.nav.nav-tabs.tabs-left#myTab
					li.static
						a.btn.btn-primary(href='#!/profile/details?tab=items')
							span #{messageSource.getMessage('sell.edit.return',[],locale)}
					li.separator
					//- li(class=show.equals("details")?'active':'')
					li(ng-class='{active: edit.selectedTab === "details"}')
						a(ng-click="edit.switchToTab('details')") #{messageSource.getMessage('edit.details',[],locale)}
					//- li(class=show.equals("images")?'active':'')
					li(ng-class='{active: edit.selectedTab === "images"}')
						a(ng-click="edit.switchToTab('images')") #{messageSource.getMessage('edit.images',[],locale)}
			div.col-sm-9(style="padding: 0")
				div.tab-content
					div.tab-pane.fade.in(ng-class='{active: edit.selectedTab === "details"}')#details
						//-if show.equals('details')
						include partials/edit_details
					div.tab-pane.fade.in(ng-class='{active: edit.selectedTab === "images"}')#images
						//-if show.equals('images')
						include partials/edit_images
					
					