extends layouts/layout

block content
	+navbar(true)
	div.container
		div.row
			div.col-sm-6.col-sm-offset-3
				div.well.login-box
					if success
						div.alert.alert-success
							b #{messageSource.getMessage('auth.forgotpass.success.title', [], locale)}&nbsp;
							span #{messageSource.getMessage('auth.forgotpass.success.message', [], locale)}
					if error
						div.alert.alert-danger
							b #{messageSource.getMessage('login.error.error', [], locale)}&nbsp;
							span #{messageSource.getMessage('login.error.wrongData', [], locale)}
					form.form-horizontal(name="forgotPassForm", ng-submit="pass.submit(forgotPassForm.$valid)", novalidate)
						p.help-block #{messageSource.getMessage('login.recover.help', [], locale)}
						div.form-group(ng-class="{ 'has-error': forgotPassForm.email.$invalid && !forgotPassForm.email.$pristine }")
							label.control-label.col-sm-3(for="username") #{messageSource.getMessage('register.form.mail', [], locale)}
							div.col-sm-9
								input.form-control#username(type="email", placeholder="#{messageSource.getMessage('register.form.mail', [], locale)}", name="email", ng-model="pass.email", required)
								p.help-block(ng-show="forgotPassForm.email.$error.required") #{messageSource.getMessage('login.recover.emailRequired', [], locale)}
								p.help-block(ng-show="forgotPassForm.email.$invalid && !forgotPassForm.email.$pristine") #{messageSource.getMessage('login.recover.emailInvalid', [], locale)}
						div.form-group
								div.col-sm-12
									button.btn.btn-success.btn-block(type="submit", ng-disabled="!forgotPassForm.$valid || pass.loading") #{messageSource.getMessage('login.recover.recover', [], locale)}
						div.form-group
							div.col-sm-12
								span #{messageSource.getMessage('register.form.hasAccount', [], locale)}&nbsp;
								a(href='#!/auth/login') #{messageSource.getMessage('register.form.login', [], locale)}
								br
								span #{messageSource.getMessage('login.form.noUserQuestion', [], locale)}&nbsp;
								a(href='#!/auth/register') #{messageSource.getMessage('login.form.register', [], locale)}