extends layouts/layout

block styles
	link(href=context.url('/resources/css/id.css'), rel="stylesheet")

block scripts
	script(src="#{context.url('/resources/js/id.js')}", type="text/javascript")
	


block content
	include mixins/product
	+navbar(true)
	div.container
		div.row
			div.col-sm-10.col-sm-offset-1#item-container
				div.row#id-title
					div.col-sm-12
						h1 #{user.username}
						a(href=context.url('/id/'+user.username+'/'+(view.equals('seller')?'buyer':'seller'))) #{messageSource.getMessage('profile.public.viewProfileOf', [], locale)} #{view.equals('seller')? messageSource.getMessage('profile.public.buyer', [], locale):messageSource.getMessage('profile.public.seller', [], locale)}
				div.row#product-container
					if view.equals("seller")
						div.col-sm-12
							table(style="width:100%")
								tr
									td
										h2.h1(style="white-space:nowrap") #{messageSource.getMessage('profile.public.score.seller', [], locale)}
									td.text-left(style="width:100%")
										span.h1
											div.rating.static(style="margin-left:40px;display:inline-block;line-height:2em" ,data-rate-value=sellerRating)
						div.col-sm-12
							div.row.text-center#stats-container
								if approvedSales+rejectedSales == 0
									div.col-sm-12
										span.h1 #{user.username} #{messageSource.getMessage('profile.public.nosales', [], locale)}
								else
									div.col-sm-4
										span.text-muted #{messageSource.getMessage('profile.public.score.seller.recommendation', [], locale)}
										br
										span.h1#approved-sales(data-end=100*approvedSales/(approvedSales+rejectedSales)) #{approvedSales/(approvedSales+rejectedSales)}
										span.h1 %
									div.col-sm-4
										span.text-muted #{messageSource.getMessage('profile.public.score.seller.approvedSales', [], locale)}
										br
										span.h1#approved-sales(data-end=approvedSales) #{approvedSales}
									div.col-sm-4
										span.text-muted #{messageSource.getMessage('profile.public.score.seller.rejectedSales', [], locale)}
										br
										span.h1#rejected-sales(data-end=rejectedSales) #{rejectedSales}
						hr.col-sm-12
					if view.equals("buyer")
						div.col-sm-12
							table(style="width:100%")
								tr
									td
										h2.h1(style="white-space:nowrap") #{messageSource.getMessage('profile.public.score.buyer', [], locale)}
									td.text-left(style="width:100%")
										span.h1
											div.rating.static(style="margin-left:40px;display:inline-block;line-height:2em" ,data-rate-value=buyerRating)
						div.col-sm-12
							div.row.text-center#stats-container
								if approvedSales+rejectedSales == 0
									span.h1 #{user.username} #{messageSource.getMessage('profile.public.nopurchases', [], locale)}
								else
									div.col-sm-4
										span.text-muted #{messageSource.getMessage('profile.public.score.buyer.acceptance', [], locale)}
										br
										span.h1#approved-sales(data-end=100*approvedSales/(approvedSales+rejectedSales)) #{approvedSales/(approvedSales+rejectedSales)}
										span.h1 %
									div.col-sm-4
										span.text-muted #{messageSource.getMessage('profile.public.score.buyer.rejectedPurchases', [], locale)}
										br
										span.h1#rejected-sales(data-end=rejectedSales) #{rejectedSales}
									div.col-sm-4
										span.text-muted #{messageSource.getMessage('profile.public.score.buyer.acceptedPurchases', [], locale)}
										br
										span.h1#approved-sales(data-end=approvedSales) #{approvedSales}
					if view.equals("seller")
						div.col-sm-12
							h2.h1 #{messageSource.getMessage('profile.public.seller.items', [], locale)}
							div.row.text-right
								div.col-sm-12
									include partials/profile_modifiers
							div.row
								each item in items.results
									+product(item)
							div.row
								ul.pager#filter-page(data-page="#{items.currentPage}", data-last-page="#{items.numberOfTotalResults/items.pageSize}")
									li.previous(class="#{items.currentPage==0?'disabled':''}")
										a.filter-page-action(href="#")
											span &larr;
											span #{messageSource.getMessage('search.filters.pagination.pagers.first', [], locale)}
									li.pre(class="#{items.currentPage==0?'disabled':''}")
										a.filter-page-action(href="#") #{messageSource.getMessage('search.filters.pagination.pagers.previous', [], locale)}
									li.ne(class="#{items.currentPage==items.numberOfTotalResults/items.pageSize?'disabled':''}")
										a.filter-page-action(href="#") #{messageSource.getMessage('search.filters.pagination.pagers.next', [], locale)}
									li.next(class="#{items.currentPage==items.numberOfTotalResults/items.pageSize?'disabled':''}")
										a.filter-page-action(href="#")
											span #{messageSource.getMessage('search.filters.pagination.pagers.last', [], locale)}
											span &rarr;
							