extends layouts/layout

block content
	+navbar(true)
	div.container
		div.row
			div.col-sm-10.col-sm-offset-1#sell-container
				if success
					div.row
						div.col-sm-12
							div.alert.alert-success.alert-dismissable
								button.close(type="button", data-dismiss="alert")
									span &times;
								strong #{messageSource.getMessage('successMessages.publishItem.title', [], locale)}!
								if published
									span &nbsp; #{messageSource.getMessage('successMessages.publishItem.content', [], locale)}
								else
									span &nbsp; #{messageSource.getMessage('successMessages.publishItem.content2', [], locale)}
								//-br
								//-a.btn.btn-default(href="#{context.url('/store/item/'+item.id+'/details/')}") Editar Detalles
				h1.page-header.text-center #{messageSource.getMessage('sell.image.upload.headline',[],locale)} `{{images.item.name}}`
				form.form-horizontal(ng-submit="images.submit()")
					div.form-group
						label.col-sm-2.control-label #{messageSource.getMessage('sell.field.pictures',[],locale)}
						div.col-sm-10
							div.ng-file-upload(ngf-accept="'image/*'", ngf-keep="true", ngf-multiple="true", ngf-drop, ngf-select, ng-model="images.item.images", ngf-stop-propagation="true")
								p.h3.text-info.text-center.ng-instruction(ng-hide="images.item.images.length") #{messageSource.getMessage('sell.image.upload.drag',[],locale)}
								div.ng-file-upload-item(ng-repeat="im in images.item.images")
									div.ngf-content
										img(ngf-src="im")
										.ng-file-remove
											button.btn.btn-link(type="button", ng-click="images.remove($index)")
												i.fa.fa-trash
					div.form-group
						div.col-sm-4.col-sm-offset-6
							button.btn.btn-success.btn-block#uploadImages(type="submit", ng-disabled="!images.item.images.length") #{messageSource.getMessage('sell.okImages',[],locale)}
						div.col-sm-2
							a.btn.btn-default.btn-block(ng-href="#!/store/items/{{images.item.id}}")
								| #{messageSource.getMessage('sell.skip',[],locale)}&nbsp;
								i.fa.fa-chevron-right
					
					