mixin navbar(search)
	header.navbar.navbar-fixed-top#top-navbar
		div.container
			div.navbar-header
				button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#main-navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#!/", style="font-size:2em")
					i.fa.fa-shopping-basket
					| &nbsp;SIGLAS
			nav.collapse.navbar-collapse#navbar-content
				ul.nav.navbar-nav.navbar-right
					li(ng-if="!loggedUser")
						a(ng-href="#!/auth/register?next={{index.$location.path()}}") #{messageSource.getMessage('index.register', [], locale)}
					li(ng-if="!loggedUser")
						a(ng-href="#!/auth/login?next={{index.$location.path()}}") #{messageSource.getMessage('index.login', [], locale)}
					li
						a(ng-href="{{loggedUser ? '#!/store/sell/details' : '#!/auth/register?next=/store/sell/details'}}") #{messageSource.getMessage('index.sell', [], locale)}
					li#favourite-dropdown(ng-if="loggedUser")
						a.dropdown-toggle(href="#", data-toggle="dropdown", title="#{messageSource.getMessage('index.favourite.title',[],locale)}")
							i.fa.fa-heart
							| &nbsp;
							span.caret
						ul.dropdown-menu.dropdown-favourite
							//-if !userFavourites.results.isEmpty()
							li(ng-if="loggedUser.favourites.length")
								span.fav-title #{messageSource.getMessage('index.favourite.title',[],locale)}
							//-else
							li(ng-if="!loggedUser.favourites.length")
								a #{messageSource.getMessage('index.favourite.empty',[],locale)}
							//-each favourite in userFavourites.results
							li(ng-repeat="favourite in loggedUser.favourites")
								span.item
									span.item-left
										a(ng-href="#!/store/items/{{favourite.item.id)}")
												//-if favourite.item.images.isEmpty()
												img(ng-if="!favourite.item.images.length", ng-src="http://placehold.it/80x80")
												//-else
												img(ng-if="favourite.item.images.length", ng-src="data:image/png;base64,{{favourite.item.images[0].content}}")
												//-img(src="#{context.url('/images/get/'+favourite.item.images.iterator().next().id)}")
											span.item-info
												a(href="#!/store/items/{{favourite.item.id}}")
													span {{favourite.item.name}}
												span.price ${{favourite.item.price.toFixed(2)}}
									span.item-right(title="#{messageSource.getMessage('index.favourite.remove',[],locale)}")
										button.btn.btn-xs.btn-danger.pull-right.remove-fav(ng-click="index.removeFavourite(favourite.id)") x
							//-if userFavourites.numberOfTotalResults >= 8
							li.separator(ng-if="loggedUser.favourites.hasMore")
							li.text-center(ng-if="loggedUser.favourites.hasMore")
								a(ng-href='#!/profile/details?tab=favourites') #{messageSource.getMessage('index.favourite.viewAll',[],locale)}
					li(ng-if="loggedUser")
						a.dropdown-toggle(href="#", data-toggle="dropdown")
							span {{loggedUser.firstName}} {{loggedUser.lastName}}&nbsp;
							span.caret
						ul.dropdown-menu
							li
								a(ng-href='#!/profile/details', ng-click="profile.switchToTab('account')")
									i.fa.fa-user
									span &nbsp;#{messageSource.getMessage('index.user.profile',[],locale)}
							li
								a(ng-href='#!/profile/details?tab=items', ng-click="profile.switchToTab('items')")
									i.fa.fa-list
									span &nbsp;#{messageSource.getMessage('index.user.items',[],locale)}
							li
								a(ng-href='#!/profile/details?tab=sales', ng-click="profile.switchToTab('sales')")
									i.fa.fa-suitcase
									span &nbsp;#{messageSource.getMessage('index.user.sales',[],locale)}
							li
								a(ng-href='#!/profile/details?tab=purchases', ng-click="profile.switchToTab('purchases')")
									i.fa.fa-shopping-bag
									span &nbsp;#{messageSource.getMessage('index.user.purchases',[],locale)}
							li.separator
							li
								a(ng-click="index.logout()")
									i.fa.fa-sign-out
									span &nbsp;#{messageSource.getMessage('index.user.logout',[],locale)}
				if search
					form.navbar-form#navbar-search(ng-submit="index.performQuery()")
						div.form-group(style="width:50%")
							div.input-group
								input.form-control#navbar-query-input(type="text", placeholder="#{messageSource.getMessage('index.search',[],locale)}...", style="width:100%", name="query", ng-model="index.query")
								span.input-group-btn(style="width:1%")
									button.btn.btn-default(type="submit")
										i.fa.fa-search